In [92]:
import openclean
import glob
import pandas as pd
import numpy as np

In [93]:
# https://data.cityofnewyork.us/Housing-Development/Housing-New-York-Units-by-Building/hg8x-zxpr
# https://data.cityofnewyork.us/Housing-Development/DOB-NOW-Build-Approved-Permits/rbx6-tga4
# https://data.cityofnewyork.us/Housing-Development/Buildings-Selected-for-the-Alternative-Enforcement/hcir-3275

# Data Downloading

Download the data using openClean

In [94]:
import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

dataset = Socrata().dataset('rbx6-tga4')
datafile = './rbx6-tga4.tsv.gz'

if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as f:
        print('Downloading ...\n')
        dataset.write(f)


fsize = humanfriendly.format_size(os.stat(datafile).st_size)
print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

Using 'DOB NOW: Build â€“ Approved Permits' in file ./rbx6-tga4.tsv.gz of size 23.89 MB

# Data Loading

Load the data into pandas and openClean dataset object

In [95]:
import pandas as pd
from openclean.pipeline import stream

df  = pd.read_csv(datafile, dtype='object', sep='\t')
ds = stream(datafile)

In [96]:
np.__version__

'1.18.5'

In [97]:
pd.__version__

'1.2.4'

In [98]:
import glob

In [99]:
glob.glob("*")

['Buildings-Selected-for-the-Alternative-Enforcement-hcir-3275.ipynb',
 'DOB-NOW-Build-Approved-Permits-rbx6-tga4.ipynb',
 'hcir-3275.tsv.gz',
 'hcir-3275_cleaned_data.csv',
 'hg8x-zxpr.tsv.gz',
 'hg8x-zxpr_cleaned_data.csv',
 'Housing-New-York-Units-by-Building-hg8x-zxpr.ipynb',
 'ic3t-wcy2.tsv.gz',
 'rbx6-tga4.tsv.gz',
 'rbx6-tga4_cleaned_data.csv',
 'Untitled.ipynb']

### Get some basic info about the dataset columns

In [100]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241445 entries, 0 to 241444
Data columns (total 35 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Job Filing Number                     241445 non-null  object
 1   Filing Reason                         241445 non-null  object
 2   House No                              241445 non-null  object
 3   Street Name                           241445 non-null  object
 4   Borough                               241445 non-null  object
 5   LOT                                   241297 non-null  object
 6   Bin                                   241445 non-null  object
 7   Block                                 241445 non-null  object
 8   C B NO                                241308 non-null  object
 9   Apt/Condo No(s)                       1645 non-null    object
 10  Work on Floor                         240701 non-null  object
 11  Work Type                             241445 non-null  object
 12  Permittee's License Type              241445 non-null  object
 13  Applicant License #                   241445 non-null  object
 14  Applicant First Name                  241445 non-null  object
 15  Applicant Middle Name                 103 non-null     object
 16  Applicant Last Name                   241444 non-null  object
 17  Applicant Business Name               241130 non-null  object
 18  Applicant Business Address            214797 non-null  object
 19  Filing Representative First Name      134218 non-null  object
 20  Filing Representative Middle Initial  0 non-null       object
 21  Filing Representative Last Name       134215 non-null  object
 22  Filing Representative Business Name   132887 non-null  object
 23  Work Permit                           241445 non-null  object
 24  Approved Date                         241415 non-null  object
 25  Issued Date                           241445 non-null  object
 26  Expired Date                          241414 non-null  object
 27  Job Description                       241444 non-null  object
 28  Estimated Job Costs                   241444 non-null  object
 29  Owner Business Name                   226579 non-null  object
 30  Owner Name                            241441 non-null  object
 31  Owner Street Address                  0 non-null       object
 32  Owner City                            0 non-null       object
 33  Owner State                           0 non-null       object
 34  Owner Zip Code                        0 non-null       object
dtypes: object(35)
memory usage: 64.5+ MB

<ipython-input-100-6ac79f7ef903>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose=True, null_counts=True)

If any rows are complete duplicates, drop them

In [101]:
df = df.drop_duplicates()

Take an a look at some of the rows to get an idea of what the datset looks like

In [102]:
df

,Job Filing Number,Filing Reason,House No,Street Name,Borough,LOT,Bin,Block,C B NO,Apt/Condo No(s),...,Issued Date,Expired Date,Job Description,Estimated Job Costs,Owner Business Name,Owner Name,Owner Street Address,Owner City,Owner State,Owner Zip Code
0,M00531234-I1,Initial Permit,26,SHERMAN AVENUE,MANHATTAN,98,1064238,2175,112,NaN,...,06/23/2021 12:00:00 AM,06/23/2022 12:00:00 AM,Installation of a temporarily,5000,PR,SHLOIME GROSS,NaN,NaN,NaN,NaN
1,X00496654-I1,Initial Permit,1051,WESTCHESTER AVENUE,BRONX,64,2005808,2727,202,NaN,...,05/06/2021 12:00:00 AM,12/31/2021 12:00:00 AM,INSTALL EXTERIOR ILLUMINATED W,1850,EIB WESTCHESTER 1 LLC,FRANK SCAFFA,NaN,NaN,NaN,NaN
2,B00579209-I1,Initial Permit,1010,PACIFIC STREET,BROOKLYN,32,3428849,1133,308,NaN,...,08/19/2021 12:00:00 AM,07/20/2022 12:00:00 AM,INSTALLATION OF SCAFFOLD FOR W,1000,TWIN GROUP ASSOCIATES INC,SOLOMON SCHWIMMER,NaN,NaN,NaN,NaN
3,M00514656-I1,Initial Permit,33,WEST 125 STREET,MANHATTAN,21,1053501,1723,110,NaN,...,05/06/2021 12:00:00 AM,04/01/2022 12:00:00 AM,Installation of temporary side,1,"CGM MANAGEMENT GROUP, INC",CARMINE MOLISSE,NaN,NaN,NaN,NaN
4,M00431823-I1,Initial Permit,301,EAST 73 STREET,MANHATTAN,1,1044897,1448,108,NaN,...,06/04/2021 12:00:00 AM,03/11/2022 05:00:00 AM,Filing as per plans for the in,5000,BROADWAY MERCER ASSOCIATES,CYNTHIA GONZALEZ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241440,B00269752-I1,Renewal Permit Without Changes,1,MAIN STREET,BROOKLYN,7501,3346104,27,302,NaN,...,07/10/2020 12:00:00 AM,02/23/2021 12:00:00 AM,PAA being filed to reflect cha,26000,NaN,MARY FRANCES SHAUGHNESSY,NaN,NaN,NaN,NaN
241441,B00239369-I1,Initial Permit,388,CHRISTOPHER AVENUE,BROOKLYN,128,3084828,3811,316,NaN,...,12/23/2020 12:00:00 AM,07/20/2021 12:00:00 AM,INSTALLATION OF SPRINKLER SYST,1000,PR,CHAIM SOBEL,NaN,NaN,NaN,NaN
241442,M00083385-I1,Renewal Permit Without Changes,25,MURRAY STREET,MANHATTAN,7505,1001451,134,101,NaN,...,01/21/2020 12:00:00 AM,11/03/2020 12:00:00 AM,INSTALLATION OF TEMPORARY (60',1000,PHOENIX SUTTON STR INC,PIOTR SIWIEC,NaN,NaN,NaN,NaN
241443,M00052214-I1,Initial Permit,1526,1 AVENUE,MANHATTAN,48,1050355,1559,108,NaN,...,07/06/2018 12:00:00 AM,09/30/2018 12:00:00 AM,installation of construction f,1000,NORDEST SERVICE LLC,JACK CALIENDO,NaN,NaN,NaN,NaN
241444,B00275776-I1,Initial Permit,211,MCGUINESS BOULEVARD,BROOKLYN,7501,3379800,2576,301,NaN,...,12/12/2019 12:00:00 AM,12/12/2020 05:00:00 AM,Install temporary construction,1000,STELLAR MANAGEMENT,LYLE KAMESAKI,NaN,NaN,NaN,NaN

## Describe columns in groups so they fit on screen

In [103]:
df[df.columns[:20]].describe()

,Job Filing Number,Filing Reason,House No,Street Name,Borough,LOT,Bin,Block,C B NO,Apt/Condo No(s),Work on Floor,Work Type,Permittee's License Type,Applicant License #,Applicant First Name,Applicant Middle Name,Applicant Last Name,Applicant Business Name,Applicant Business Address,Filing Representative First Name
count,241160,241160,241160,241160,241160,241012,241160,241160,241023,1642,240439,241160,241160,241160,241160,103,241159,240845,214540,134035
unique,154749,4,13571,5601,5,761,59990,10146,70,91,7464,17,8,9098,3394,1,6287,9407,9235,1527
top,M00013853-I1,Initial Permit,1,BROADWAY,MANHATTAN,1,1000855,16,105,OSP,Open Space,Sidewalk Shed,GC,032158,MICHAEL,GIL,SINGH,EVEREST SCAFFOLDING INC,49-30 31ST PLACE,ELY
freq,51,168465,2202,6896,104056,30378,322,577,25925,1188,32033,47166,165325,3949,7870,103,19677,4054,2727,12742

In [104]:
# Notes:
# Building Type looks binary and has 2 values + maybe NAN
# Cluster looks binary and has 2 values + maybe NAN
# Landmarked looks binary and has 4 values + maybe NAN
# Adult Establishment looks binary and has 2 values + maybe NAN
# Loft Board looks binary and has 2 values + maybe NAN
# City Owned looks binary and has 4 values + maybe NAN
# Little e looks binary and has 5 values + maybe NAN

In [105]:
df[df.columns[20:40]].describe()

,Filing Representative Middle Initial,Filing Representative Last Name,Filing Representative Business Name,Work Permit,Approved Date,Issued Date,Expired Date,Job Description,Estimated Job Costs,Owner Business Name,Owner Name,Owner Street Address,Owner City,Owner State,Owner Zip Code
count,0,134032,132705,241160,241130,241160,241129,241159,241159,226308,241156,0,0,0,0
unique,0,2039,2280,158655,5396,1254,2883,50530,17891,17520,32773,0,0,0,0
top,NaN,SEPULVEDA,AE DESIGN SOLUTION INC.,M00013853-I1-SH,01/21/2020 12:00:00 AM,11/15/2021 12:00:00 AM,08/06/2020 12:00:00 AM,INSTALLATION OF HEAVY DUTY SID,1000,PR,CHIRAG PATEL,NaN,NaN,NaN,NaN
freq,NaN,12808,12741,21,515,713,6213,8995,23230,42463,4396,NaN,NaN,NaN,NaN

In [106]:
df.columns

Index(['Job Filing Number', 'Filing Reason', 'House No', 'Street Name',
       'Borough', 'LOT', 'Bin', 'Block', 'C B NO', 'Apt/Condo No(s)',
       'Work on Floor', 'Work Type', 'Permittee's License Type',
       'Applicant License #', 'Applicant First Name', 'Applicant Middle Name',
       'Applicant Last Name', 'Applicant Business Name',
       'Applicant Business Address', 'Filing Representative First Name',
       'Filing Representative Middle Initial',
       'Filing Representative Last Name',
       'Filing Representative Business Name', 'Work Permit', 'Approved Date',
       'Issued Date', 'Expired Date', 'Job Description', 'Estimated Job Costs',
       'Owner Business Name', 'Owner Name', 'Owner Street Address',
       'Owner City', 'Owner State', 'Owner Zip Code'],
      dtype='object')

### Examining Applicant License #

Some repition in the Applicant License #, but nothing major. We will check some of the repeated Applicant License # to be sure they actually refer to the same jobs

In [107]:
df['Applicant License #'].value_counts(dropna=False)

032158    3949
607447    3503
610440    3321
617232    2374
606141    2361
          ...
617407       1
616825       1
614721       1
622626       1
619370       1
Name: Applicant License #, Length: 9098, dtype: int64

Nothing weird looking here

In [108]:
df['Applicant License #'].min()

'000002'

In [109]:
df['Applicant License #'].max()

'999999'

In [110]:
df.loc[df['Applicant License #'].str.startswith('0')]

,Job Filing Number,Filing Reason,House No,Street Name,Borough,LOT,Bin,Block,C B NO,Apt/Condo No(s),...,Issued Date,Expired Date,Job Description,Estimated Job Costs,Owner Business Name,Owner Name,Owner Street Address,Owner City,Owner State,Owner Zip Code
1,X00496654-I1,Initial Permit,1051,WESTCHESTER AVENUE,BRONX,64,2005808,2727,202,NaN,...,05/06/2021 12:00:00 AM,12/31/2021 12:00:00 AM,INSTALL EXTERIOR ILLUMINATED W,1850,EIB WESTCHESTER 1 LLC,FRANK SCAFFA,NaN,NaN,NaN,NaN
4,M00431823-I1,Initial Permit,301,EAST 73 STREET,MANHATTAN,1,1044897,1448,108,NaN,...,06/04/2021 12:00:00 AM,03/11/2022 05:00:00 AM,Filing as per plans for the in,5000,BROADWAY MERCER ASSOCIATES,CYNTHIA GONZALEZ,NaN,NaN,NaN,NaN
5,B00583762-I1,Initial Permit,350,IRVING AVENUE,BROOKLYN,25,3076848,3362,304,NaN,...,09/23/2021 12:00:00 AM,11/01/2021 04:00:00 AM,NON ILLUMINATED NON ADVERTISIN,4500,NaN,YASER OBYAH,NaN,NaN,NaN,NaN
6,B00516232-I1,Initial Permit,102,PILLING STREET,BROOKLYN,29,3080348,3457,304,NaN,...,05/06/2021 12:00:00 AM,03/31/2022 12:00:00 AM,INSTALLATION OF TEMPORARY HEAV,1000,EVEREST SCAFFOLDING INC.,CHRISTOPHER DOWNES,NaN,NaN,NaN,NaN
7,B00472417-I1,Renewal Permit with Changes,1329,WILLOUGHBY AVENUE,BROOKLYN,35,3072801,3200,304,NaN,...,06/23/2021 12:00:00 AM,04/19/2022 12:00:00 AM,MODIFICATION OF PLUMBING AND S,68750,FM CONSOLIDATED HOLDING,TERESA CHUI,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241434,M00154809-I1,Initial Permit,212,WEST 22 STREET,MANHATTAN,46,1014076,771,104,NaN,...,04/26/2019 12:00:00 AM,09/30/2020 01:00:00 AM,INSTALLATION OF TEMPORARY CONS,10000,PR,STANLEY WASSERMAN,NaN,NaN,NaN,NaN
241436,Q00099914-I1,Initial Permit,259-73,148 ROAD,QUEENS,7,4290971,13687,413,NaN,...,01/31/2019 12:00:00 AM,05/06/2019 12:00:00 AM,PROPOSED TEMPORARY CONSTRUCTIO,1000,NaN,ANTHONY FINDLAY,NaN,NaN,NaN,NaN
241438,Q00001038-I1,Initial Permit,66-20,QUEENS BOULEVARD,QUEENS,19,4056084,2420,402,NaN,...,11/14/2017 12:00:00 AM,09/17/2018 12:00:00 AM,NON ILLUMINATED NON ADVERTISIN,1200,ROGOSIN INSTITUTE,AMMAR ALOW,NaN,NaN,NaN,NaN
241440,B00269752-I1,Renewal Permit Without Changes,1,MAIN STREET,BROOKLYN,7501,3346104,27,302,NaN,...,07/10/2020 12:00:00 AM,02/23/2021 12:00:00 AM,PAA being filed to reflect cha,26000,NaN,MARY FRANCES SHAUGHNESSY,NaN,NaN,NaN,NaN
241441,B00239369-I1,Initial Permit,388,CHRISTOPHER AVENUE,BROOKLYN,128,3084828,3811,316,NaN,...,12/23/2020 12:00:00 AM,07/20/2021 12:00:00 AM,INSTALLATION OF SPRINKLER SYST,1000,PR,CHAIM SOBEL,NaN,NaN,NaN,NaN

Fraction of Rows with unique job numbers

In [111]:
df['Applicant License #'].nunique()/df['Applicant License #'].count()

0.03772599104329076

Group by Job # and check if latitude and longitude are the same all the same for the job, which would indicate different instances of the Job # all refer to the same Job.

In [112]:
group = df[['Applicant License #', 'Job Filing Number']].groupby('Applicant License #')

This will take a little while to run

In [113]:
tranformed = group.aggregate(lambda x: x.unique().shape[0])

Jobs with multiple latitude and longitudes:

In [114]:
potential_bad_jobs = list(tranformed)

Separate these into a temporary dataframe to play around with:

In [115]:
df_temp = df.loc[df['Applicant License #'].isin(potential_bad_jobs)].copy()

In [116]:
df_temp = df_temp.sort_values(['Job Filing Number', 'Applicant License #'])

Most of these are just missing lat and long values.

The others look to be Jobs that manage multiple houses/lots in a small area, so are probably correct

In [117]:
df_temp[df_temp.duplicated(subset=['Job Filing Number', 'Applicant License #'], keep=False)]

Empty DataFrame
Columns: [Job Filing Number, Filing Reason, House No, Street Name, Borough, LOT, Bin, Block, C B NO, Apt/Condo No(s), Work on Floor, Work Type, Permittee's License Type, Applicant License #, Applicant First Name, Applicant Middle Name, Applicant Last Name, Applicant Business Name, Applicant Business Address, Filing Representative First Name, Filing Representative Middle Initial, Filing Representative Last Name, Filing Representative Business Name, Work Permit, Approved Date, Issued Date, Expired Date, Job Description, Estimated Job Costs, Owner Business Name, Owner Name, Owner Street Address, Owner City, Owner State, Owner Zip Code]
Index: []

[0 rows x 35 columns]

#### Later, after we have cleaned more values, we will fill these missing values by job #

Remove Jobs we know to be just missing data from the list of bad jobs

In [118]:
df_temp

Empty DataFrame
Columns: [Job Filing Number, Filing Reason, House No, Street Name, Borough, LOT, Bin, Block, C B NO, Apt/Condo No(s), Work on Floor, Work Type, Permittee's License Type, Applicant License #, Applicant First Name, Applicant Middle Name, Applicant Last Name, Applicant Business Name, Applicant Business Address, Filing Representative First Name, Filing Representative Middle Initial, Filing Representative Last Name, Filing Representative Business Name, Work Permit, Approved Date, Issued Date, Expired Date, Job Description, Estimated Job Costs, Owner Business Name, Owner Name, Owner Street Address, Owner City, Owner State, Owner Zip Code]
Index: []

[0 rows x 35 columns]

Latest action date is different, so its probably differnt but very similar jobs

Check if any Job #s have non-digit values

In [119]:
df['Applicant License #'] = df['Applicant License #'].astype('str')

In [120]:
df.loc[(~df['Applicant License #'].isna())
       &(~df['Applicant License #'].str.isdigit())]['Applicant License #']

Series([], Name: Applicant License #, dtype: object)

All Job #s entirely composed of digits, so we cast them to ints

In [121]:
df['Applicant License #'] = df['Applicant License #'].astype('str')

In [122]:
df['Applicant License #'].describe()

count     241160
unique      9098
top       032158
freq        3949
Name: Applicant License #, dtype: object

## Examining and reparing Job Filing Number

Job Filing Number appear to be mostly ints

However, there are legitimate house numbers with dashes so we'll have to make them strings

In [123]:
def show_vals(column_name, show_rows=10, df=df):
    print("Top {} {}:\n".format(show_rows, column_name))
    print(df[column_name].value_counts(dropna=False)[:show_rows])
    print()

In [124]:
show_vals('Job Filing Number', show_rows=10)

Top 10 Job Filing Number:

M00013853-I1    51
M00008120-I1    48
M00042797-I1    48
M00130581-I1    42
X00073703-I1    39
M00003926-I1    36
M00000925-I1    36
M00259999-I1    36
M00165956-I1    36
M00033650-I1    36
Name: Job Filing Number, dtype: int64

Replace NaN values with empty strings, then convert column to string, and make everything uppercase

In [125]:
df['Job Filing Number'].fillna('', inplace=True)
df['Job Filing Number'] = df['Job Filing Number'].astype('str')
df['Job Filing Number'] = df['Job Filing Number'].str.upper()

Check for numbers spelled out as words

In [126]:
df.loc[(~df['Job Filing Number'].isna())
       &(df['Job Filing Number'].str.isalpha())]['Job Filing Number']

Series([], Name: Job Filing Number, dtype: object)

Check if thses are empty strings:

In [127]:
df.loc[(~df['Job Filing Number'].str.contains('\\d', regex=True))]['Job Filing Number']

148257    PERMIT IS NO
178649    PERMIT IS NO
181411    PERMIT IS NO
Name: Job Filing Number, dtype: object

Replace spelling of numbers with their value, and remove values 'PIER',  'MANHATTAN',  'NO NUMBER'

In [128]:
df.loc[df['Job Filing Number'].str.strip('')=='PERMIT IS NO', 'Job Filing Number'] = ''

Most of these will probably be legitimate house numbers, since house numbers can have dashes

In [129]:
df.loc[(~df['Job Filing Number'].isna())
       &(~df['Job Filing Number'].str.isdigit())]['Job Filing Number']

0         M00531234-I1
1         X00496654-I1
2         B00579209-I1
3         M00514656-I1
4         M00431823-I1
              ...
241440    B00269752-I1
241441    B00239369-I1
241442    M00083385-I1
241443    M00052214-I1
241444    B00275776-I1
Name: Job Filing Number, Length: 241160, dtype: object

Check non-numeric house #'s that don't have dashes

In [130]:
df.loc[(~df['Job Filing Number'].isna())
       &(~df['Job Filing Number'].str.isdigit())
      &(~df['Job Filing Number'].str.contains('-', regex=False))]['Job Filing Number'][:25]

148257
178649
181411
Name: Job Filing Number, dtype: object

We see a mix of reference to the house's garage, the rear house and single letters that likely indicate apartments in multi-occupancy venues. 

We will standardize the formatting, and maintain the reference to garage, rear, and appartment, since there is no apartment column for the job.

First split the numbers and words with a space

In [131]:
df['Job Filing Number'] = df['Job Filing Number'].str.replace(pat='(?P<one>\\d)(?P<two>[A-Z]+)', repl='\g<one> \g<two>', regex=True)

Now we will fix the formatting for garage and 
remove references to north, south, east, west, since they should be in street #

In [132]:
df['Job Filing Number'] = df['Job Filing Number'].str.replace(pat='(?P<one>GAR$)', repl='GARAGE', regex=True)

In [133]:
df['Job Filing Number'] = df['Job Filing Number'].str.replace(pat='NORTH([A-Z]+)?', repl='', regex=True)
df['Job Filing Number'] = df['Job Filing Number'].str.replace(pat='EAST([A-Z]+)?', repl='', regex=True)
df['Job Filing Number'] = df['Job Filing Number'].str.replace(pat='SOUTH([A-Z]+)?', repl='', regex=True)
df['Job Filing Number'] = df['Job Filing Number'].str.replace(pat='WEST([A-Z]+)?', repl='', regex=True)
df['Job Filing Number'] = df['Job Filing Number'].str.replace('PERMIT IS NO', repl='', regex=True)

In [134]:
# Confirm that it worked correctly:
df.loc[(~df['Job Filing Number'].isna())
       &(~df['Job Filing Number'].str.isdigit())
       &(~df['Job Filing Number'].str.contains('-', regex=False))]['Job Filing Number'][:30]

148257
178649
181411
Name: Job Filing Number, dtype: object

## Examining and reparing House No

In [135]:
show_vals('House No', show_rows=10)

Top 10 House No:

1      2202
200    1306
10     1259
150    1042
55     1027
50     1020
100     960
40      871
60      861
30      853
Name: House No, dtype: int64

Replace NaN values with empty strings, then convert column to string, and make everything uppercase

In [136]:
df['House No'].fillna('', inplace=True)
df['House No'] = df['House No'].astype('str')
df['House No'] = df['House No'].str.upper()

Check for numbers spelled out as words

In [137]:
df.loc[(~df['House No'].isna())
       &(df['House No'].str.isalpha())]['House No']

13451     ONE
25394     ONE
25682     ONE
27946     ONE
30149     ONE
57475       I
58527     ONE
64326     ONE
78698     ONE
78809     ONE
79113     ONE
80899     ONE
80957     ONE
81001     ONE
102699    ONE
157256    ONE
160480    ONE
184336    ONE
195205    ONE
198739    ONE
201748      I
207613    ONE
215704    ONE
230633    ONE
Name: House No, dtype: object

Check if thses are empty strings:

In [138]:
df.loc[(~df['House No'].str.contains('\\d', regex=True))]['House No']

13451     ONE
25394     ONE
25682     ONE
27946     ONE
30149     ONE
57475       I
58527     ONE
64326     ONE
78698     ONE
78809     ONE
79113     ONE
80899     ONE
80957     ONE
81001     ONE
102699    ONE
157256    ONE
160480    ONE
184336    ONE
195205    ONE
198739    ONE
201748      I
207613    ONE
215704    ONE
230633    ONE
Name: House No, dtype: object

Replace spelling of numbers with their value, and remove values 'PIER',  'MANHATTAN',  'NO NUMBER'

In [139]:
df.loc[df['House No'].str.strip('')=='ONE', 'House No'] = ''
df.loc[df['House No'].str.strip('')=='I', 'House No'] = ''

Most of these will probably be legitimate house numbers, since house numbers can have dashes

In [140]:
df.loc[(~df['House No'].isna())
       &(~df['House No'].str.isdigit())]['House No']

12         57-28
30        112-27
35         99-06
42        133-43
43         82-08
           ...
241425     34-19
241426     74-16
241432    161-01
241436    259-73
241438     66-20
Name: House No, Length: 40083, dtype: object

Check non-numeric house #'s that don't have dashes

In [141]:
df.loc[(~df['House No'].isna())
       &(~df['House No'].str.isdigit())
      &(~df['House No'].str.contains('-', regex=False))]['House No'][:25]

344          60B
971        111 A
1180       37GAR
1212        318A
1361       37GAR
1718       37GAR
1985        256A
2058        687A
2219    1668 GAR
2417        872A
2659    1568 AIR
3108     260 GAR
3307        500A
3360    435 REAR
3517        410A
3565    435 REAR
3645      126GAR
4881     108 1/2
5045     649 GAR
5129    435 REAR
5141        140B
5196       127 A
5605     108 1/2
5656        687A
5772        546A
Name: House No, dtype: object

We see a mix of reference to the house's garage, the rear house and single letters that likely indicate apartments in multi-occupancy venues. 

We will standardize the formatting, and maintain the reference to garage, rear, and appartment, since there is no apartment column for the job.

First split the numbers and words with a space

In [142]:
df['House No'] = df['House No'].str.replace(pat='(?P<one>\\d)(?P<two>[A-Z]+)', repl='\g<one> \g<two>', regex=True)

Now we will fix the formatting for garage and 
remove references to north, south, east, west, since they should be in street #

In [143]:
df['House No'] = df['House No'].str.replace(pat='(?P<one>GAR$)', repl='GARAGE', regex=True)

In [144]:
df['House No'] = df['House No'].str.replace(pat='NORTH([A-Z]+)?', repl='', regex=True)
df['House No'] = df['House No'].str.replace(pat='EAST([A-Z]+)?', repl='', regex=True)
df['House No'] = df['House No'].str.replace(pat='SOUTH([A-Z]+)?', repl='', regex=True)
df['House No'] = df['House No'].str.replace(pat='WEST([A-Z]+)?', repl='', regex=True)
df['House No'] = df['House No'].str.replace('PERMIT IS NO', repl='', regex=True)

In [145]:
# Confirm that it worked correctly:
df.loc[(~df['House No'].isna())
       &(~df['House No'].str.isdigit())
       &(~df['House No'].str.contains('-', regex=False))]['Job Filing Number'][:30]

344     M00502410-I1
971     M00586909-I1
1180    S00481244-I1
1212    B00552927-I1
1361    S00481244-I1
1718    S00481244-I1
1985    B00466719-I1
2058    B00345683-I1
2219    B00510739-I1
2417    B00285820-I1
2659    M00342682-I1
3108    S00308390-I1
3307    B00315901-I1
3360    M71340105-I1
3517    B00502812-I1
3565    M00370497-I1
3645    S00510751-I1
4881    M00367069-I1
5045    B00455946-I1
5129    M00370497-I1
5141    B00480587-I1
5196    B00519943-I1
5605    M00367093-I1
5656    B00500777-I1
5772    M00510354-I1
5775    Q00418044-I1
5931    X00067946-I1
5987    B00498189-I1
6071    S00078639-I1
6103    S00515398-I1
Name: Job Filing Number, dtype: object

## Checking owner's information

In [146]:
def show_vals(column_name, show_rows=10, df=df):
    print("Top {} {}:\n".format(show_rows, column_name))
    print(df[column_name].value_counts(dropna=False))
    print()

In [147]:
show_vals("Owner Business Name")
show_vals("Owner Street Address")
show_vals("Owner City")
show_vals("Owner State")
show_vals("Owner Zip Code")

Top 10 Owner Business Name:

PR                                 42463
NaN                                14852
NYCHA                               5896
SPRING SCAFFOLDING LLC              3496
ROCK GROUP NY CORP                  3215
                                   ...
TANO GROUP ARCHITECT                   1
ALPHA DESIGN NY INC                    1
AB MARBEC REALTY CORP.                 1
KINGSLAND REALTY ASSOCIATES LLC        1
UNKNOWN                                1
Name: Owner Business Name, Length: 17521, dtype: int64

Top 10 Owner Street Address:

NaN    241160
Name: Owner Street Address, dtype: int64

Top 10 Owner City:

NaN    241160
Name: Owner City, dtype: int64

Top 10 Owner State:

NaN    241160
Name: Owner State, dtype: int64

Top 10 Owner Zip Code:

NaN    241160
Name: Owner Zip Code, dtype: int64

## Fixing owner's informations

In [148]:
df.loc[~df["Owner Business Name"].isna() & df["Owner Business Name"].str.contains("(?i)new york city")]["Owner Business Name"].value_counts()

NEW YORK CITY HOUSING AUTHORITY        841
NEW YORK CITY ECONOMIC DEVELOPMENT     195
NEW YORK CITY DEPARTMENT OF ENVIRON     41
NEW YORK CITY DEPT. OF ENVIRONMENTA     20
NEW YORK CITY DEPARTMENT OF DESIGN       7
THE HOTEL @ NEW YORK CITY                5
NEW YORK CITY TRANSIT                    5
Name: Owner Business Name, dtype: int64

Normalizes a couple of duplicate names

In [149]:
df["Owner Business Name"] = df["Owner Business Name"].str.replace("NEW YORK CITY", "NYC")
df["Owner Business Name"] = df["Owner Business Name"].str.upper()
df["Owner Business Name"] = df["Owner Business Name"].str.replace(".", '', regex=False)
df["Owner Business Name"] = df["Owner Business Name"].str.replace(",", '', regex=False)

All these are the same thing. Uses clusters to fix

In [150]:
#may have to use fuzzy/cluster to fix this problem
df.loc[~df["Owner Business Name"].isna() & df["Owner Business Name"].str.contains("(?i)HOUSING AUTHORITY")]["Owner Business Name"].value_counts()

NYC HOUSING AUTHORITY    851
Name: Owner Business Name, dtype: int64

All these states are valid

In [151]:
df["Owner State"].value_counts()

Series([], Name: Owner State, dtype: int64)

Since the states can be outside NYC, these are probably fine

In [152]:
df["Owner Zip Code"].value_counts()

Series([], Name: Owner Zip Code, dtype: int64)

## Looking at Phone Numbers:

In [153]:
show_vals("Owner Street Address")

Top 10 Owner Street Address:

NaN    241160
Name: Owner Street Address, dtype: int64

In [154]:
show_vals("Owner City")

Top 10 Owner City:

NaN    241160
Name: Owner City, dtype: int64

A lot of the nan numbers

# Data Profilling for datetime columns


Find format problems and outliers in all datetime columns

Using openclean's sklearn modules to detect problems and outliers

In [155]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

def findDateOutliers(column_name, eps_setting = 0.05):
    datetime_data = ds.distinct(column_name)
    print("Column: ",column_name)
    
    for rank, val in enumerate(datetime_data.most_common(10)):        
        st, freq = val
        print('{:<3} {:>8}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

    print('\nTotal number of distinct values in {} is {}'.format(column_name, len(datetime_data)))
    print(DBSCANOutliers().find(datetime_data))
    print(DBSCANOutliers(eps = eps_setting).find(datetime_data))
    print('\n==================================')

In [156]:
date_cols = []

print("Datetime Data columns:\n")
for col in ds.columns:
    if 'Date' in col or 'DATE' in col:
        print(col)
        date_cols.append(col)

print("----------------------------\n")        
        
for col in date_cols:
    findDateOutliers(col, 0.02)

Datetime Data columns:

Approved Date
Issued Date
Expired Date
----------------------------

Column:  Approved Date
1.  01/21/2020 12:00:00 AM         515
2.  02/18/2020 12:00:00 AM         515
3.  05/27/2021 12:00:00 AM         495
4.  02/25/2020 12:00:00 AM         494
5.  07/09/2021 12:00:00 AM         491
6.  11/08/2019 12:00:00 AM         482
7.  04/13/2021 12:00:00 AM         461
8.  04/21/2021 12:00:00 AM         460
9.  01/24/2020 12:00:00 AM         460
10. 03/03/2020 12:00:00 AM         457

Total number of distinct values in Approved Date is 5397
['']
['', '01/21/2020 12:00:00 AM', '12/01/2021 12:00:00 AM', '08/27/2019 12:00:00 AM', '01/24/2020 12:00:00 AM', '10/21/2020 12:00:00 AM', '02/25/2020 12:00:00 AM', '01/10/2020 12:00:00 AM', '10/20/2020 12:00:00 AM', '08/07/2019 12:00:00 AM', '10/01/2020 12:00:00 AM', '05/27/2021 12:00:00 AM', '10/12/2021 12:00:00 AM', '01/12/2021 12:00:00 AM', '04/21/2021 12:00:00 AM', '02/18/2020 12:00:00 AM', '05/03/2018 12:00:00 AM', '10/22/2020 12:00:00 AM', '10/01/2021 12:00:00 AM', '08/23/2019 12:00:00 AM', '02/12/2020 12:00:00 AM', '11/22/2021 12:00:00 AM', '03/27/2018 12:00:00 AM', '03/03/2020 12:00:00 AM', '11/08/2019 12:00:00 AM', '11/22/2020 12:00:00 AM', '02/21/2021 12:00:00 AM', '08/15/2019 12:00:00 AM', '07/09/2021 12:00:00 AM', '12/21/2020 12:00:00 AM', '12/02/2021 12:00:00 AM', '11/12/2019 12:00:00 AM']

==================================
Column:  Issued Date
1.  11/15/2021 12:00:00 AM         715
2.  11/04/2021 12:00:00 AM         681
3.  05/10/2021 12:00:00 AM         671
4.  09/29/2021 12:00:00 AM         663
5.  04/15/2021 12:00:00 AM         658
6.  05/13/2021 12:00:00 AM         658
7.  11/03/2021 12:00:00 AM         657
8.  10/07/2021 12:00:00 AM         654
9.  10/20/2021 12:00:00 AM         647
10. 10/08/2021 12:00:00 AM         632

Total number of distinct values in Issued Date is 1254
[]
['11/20/2020 12:00:00 AM', '02/01/2020 12:00:00 AM', '09/14/2021 12:00:00 AM', '10/12/2021 12:00:00 AM', '06/23/2016 08:15:04 AM', '05/13/2021 12:00:00 AM', '11/12/2021 12:00:00 AM', '11/02/2020 12:00:00 AM', '11/10/2021 12:00:00 AM', '05/10/2021 12:00:00 AM', '10/21/2021 12:00:00 AM', '02/22/2020 12:00:00 AM', '11/02/2021 12:00:00 AM', '10/07/2021 12:00:00 AM', '07/26/2018 12:00:00 AM', '04/15/2021 12:00:00 AM', '09/15/2021 12:00:00 AM', '09/24/2018 12:00:00 AM', '10/01/2021 12:00:00 AM', '11/03/2021 12:00:00 AM', '12/02/2020 12:00:00 AM', '11/20/2021 12:00:00 AM', '10/22/2021 12:00:00 AM', '11/04/2021 12:00:00 AM', '09/29/2021 12:00:00 AM', '10/20/2021 12:00:00 AM', '11/01/2021 12:00:00 AM', '11/15/2021 12:00:00 AM']

==================================
Column:  Expired Date
1.  08/06/2020 12:00:00 AM       6,246
2.  12/31/2021 05:00:00 AM       5,618
3.  01/31/2021 12:00:00 AM       3,708
4.  12/31/2020 12:00:00 AM       3,572
5.  01/01/2022 05:00:00 AM       2,874
6.  04/01/2022 12:00:00 AM       2,068
7.  11/30/2020 12:00:00 AM       1,734
8.  10/31/2020 01:00:00 AM       1,691
9.  04/01/2021 12:00:00 AM       1,672
10. 03/31/2022 12:00:00 AM       1,632

Total number of distinct values in Expired Date is 2884
['']
['', '07/19/2022 12:00:00 AM', '11/30/2020 12:00:00 AM', '05/01/2021 12:00:00 AM', '04/01/2018 12:00:00 AM', '01/01/2020 12:00:00 AM', '08/23/2019 04:00:00 AM', '01/01/2021 12:00:00 AM', '09/30/2020 12:00:00 AM', '12/31/2019 12:00:00 AM', '10/31/2020 01:00:00 AM', '08/06/2020 12:00:00 AM', '02/02/2022 12:00:00 AM', '01/31/2021 12:00:00 AM', '04/01/2021 12:00:00 AM', '09/30/2021 04:00:00 AM', '07/01/2021 04:00:00 AM', '08/03/2019 04:00:00 AM', '03/31/2022 12:00:00 AM', '12/31/2020 12:00:00 AM', '01/01/2022 05:00:00 AM', '04/01/2022 04:00:00 AM', '12/31/2021 05:00:00 AM', '06/30/2019 04:00:00 AM', '04/01/2022 12:00:00 AM', '09/30/2020 01:00:00 AM', '07/25/2019 12:00:00 AM', '12/31/2021 12:00:00 AM', '02/28/2022 12:00:00 AM', '08/27/2019 04:00:00 AM']

==================================

## Fixing Datetime columns format

In [157]:
datetime_column_list = date_cols
for col in datetime_column_list:
    show_vals(col)

Top 10 Approved Date:

01/21/2020 12:00:00 AM    515
02/18/2020 12:00:00 AM    512
02/25/2020 12:00:00 AM    494
05/27/2021 12:00:00 AM    494
07/09/2021 12:00:00 AM    491
                         ...
01/25/2019 09:10:00 AM      1
08/22/2019 11:37:00 AM      1
07/16/2018 10:06:00 AM      1
11/13/2018 07:07:00 PM      1
11/09/2020 09:48:00 AM      1
Name: Approved Date, Length: 5397, dtype: int64

Top 10 Issued Date:

11/15/2021 12:00:00 AM    713
11/04/2021 12:00:00 AM    679
05/10/2021 12:00:00 AM    671
09/29/2021 12:00:00 AM    662
05/13/2021 12:00:00 AM    658
                         ...
10/17/2020 12:00:00 AM      1
11/03/2020 12:00:00 AM      1
07/27/2019 12:00:00 AM      1
11/28/2016 12:00:00 AM      1
02/19/2018 12:00:00 AM      1
Name: Issued Date, Length: 1254, dtype: int64

Top 10 Expired Date:

08/06/2020 12:00:00 AM    6213
12/31/2021 05:00:00 AM    5618
01/31/2021 12:00:00 AM    3708
12/31/2020 12:00:00 AM    3567
01/01/2022 05:00:00 AM    2874
                          ...
02/05/2018 12:00:00 AM       1
05/25/2020 04:00:00 AM       1
02/17/2020 05:00:00 AM       1
12/04/2022 12:00:00 AM       1
11/25/2019 05:00:00 AM       1
Name: Expired Date, Length: 2884, dtype: int64

Check to see if any columns have values in year-month-day format

In [158]:
for col in datetime_column_list:
    print(col, '\n', df.loc[df[col].str.contains('-', regex=False, na=False)][col], '\n\n')

Approved Date
 Series([], Name: Approved Date, dtype: object)


Issued Date
 Series([], Name: Issued Date, dtype: object)


Expired Date
 Series([], Name: Expired Date, dtype: object)

### Check the coherence of datetime values

These don't make sense, but it's not entirely clear if they should be swapped, or removed or what

In [159]:
df.loc[(df['Approved Date'] < df['Expired Date'])
      &(~df['Approved Date'].isna() & ~df['Expired Date'].isna())][['Approved Date', 'Expired Date']]

                 Approved Date            Expired Date
0       06/23/2021 12:00:00 AM  06/23/2022 12:00:00 AM
1       05/06/2021 12:00:00 AM  12/31/2021 12:00:00 AM
5       09/20/2021 12:00:00 AM  11/01/2021 04:00:00 AM
7       02/24/2021 12:00:00 AM  04/19/2022 12:00:00 AM
11      08/10/2020 12:00:00 AM  12/26/2021 12:00:00 AM
...                        ...                     ...
241439  10/03/2018 12:00:00 AM  10/03/2019 12:00:00 AM
241441  06/29/2020 12:00:00 AM  07/20/2021 12:00:00 AM
241442  10/03/2018 12:00:00 AM  11/03/2020 12:00:00 AM
241443  07/06/2018 12:00:00 AM  09/30/2018 12:00:00 AM
241444  12/12/2019 12:00:00 AM  12/12/2020 05:00:00 AM

[137171 rows x 2 columns]

In [160]:
df.loc[(df['Approved Date'] > df['Expired Date'])
      &(~df['Approved Date'].isna() & ~df['Approved Date'].isna())][['Approved Date', 'Expired Date']]

                 Approved Date            Expired Date
2       08/19/2021 12:00:00 AM  07/20/2022 12:00:00 AM
3       05/06/2021 12:00:00 AM  04/01/2022 12:00:00 AM
4       12/14/2020 12:00:00 AM  03/11/2022 05:00:00 AM
6       05/06/2021 12:00:00 AM  03/31/2022 12:00:00 AM
8       05/18/2020 12:00:00 AM  02/25/2021 12:00:00 AM
...                        ...                     ...
241428  09/05/2019 12:00:00 AM  08/18/2020 12:00:00 AM
241436  12/18/2018 12:00:00 AM  05/06/2019 12:00:00 AM
241437  09/27/2019 12:00:00 AM  02/28/2021 12:00:00 AM
241438  11/14/2017 12:00:00 AM  09/17/2018 12:00:00 AM
241440  03/04/2020 12:00:00 AM  02/23/2021 12:00:00 AM

[103888 rows x 2 columns]

Again here it's not clear how a job could be approved before being assigned, or how a job could have it's latest action date  before the Pre-filing date

In [161]:
df.loc[(df['Issued Date'] > df['Approved Date'])
      &(~df['Issued Date'].isna() & ~df['Approved Date'].isna())][['Issued Date', 'Approved Date']]

                   Issued Date           Approved Date
5       09/23/2021 12:00:00 AM  09/20/2021 12:00:00 AM
7       06/23/2021 12:00:00 AM  02/24/2021 12:00:00 AM
12      05/06/2021 12:00:00 AM  01/07/2020 12:00:00 AM
14      11/16/2020 12:00:00 AM  11/13/2020 12:00:00 AM
17      08/19/2021 12:00:00 AM  06/29/2018 12:00:00 AM
...                        ...                     ...
241434  04/26/2019 12:00:00 AM  04/24/2019 12:00:00 AM
241435  11/07/2018 12:00:00 AM  08/25/2018 12:00:00 AM
241437  09/30/2020 12:00:00 AM  09/27/2019 12:00:00 AM
241440  07/10/2020 12:00:00 AM  03/04/2020 12:00:00 AM
241441  12/23/2020 12:00:00 AM  06/29/2020 12:00:00 AM

[147145 rows x 2 columns]

# Data Profilling for City and Other Description

Find format problems and outliers in City and Description columns

Using openclean's sklearn modules to detect problems and outliers

In [162]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

# Print the ten most frequent values for the 'Vehicle Expiration Date' column.
def findDateOutliers(column_name, eps_setting = 0.05):
    applicant_data = ds.distinct(column_name)
    print("Column: ",column_name)
    
    for rank, val in enumerate(applicant_data.most_common(10)):        
        st, freq = val
        print('{:<3} {:>8}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

    print('\nTotal number of distinct values in {} is {}'.format(column_name, len(applicant_data)))
    print(DBSCANOutliers(eps = eps_setting).find(applicant_data))
    print('\n==================================')

In [163]:
date_cols = ["Borough", "Street Name"]

In [164]:

print("----------------------------\n")        
        
for col in date_cols:
    findDateOutliers(col, 0.1)

----------------------------

Column:  Borough
1.  MANHATTAN     104,181
2.  BROOKLYN      62,626
3.    QUEENS      41,561
4.     BRONX      22,068
5.  STATEN ISLAND      11,009

Total number of distinct values in Borough is 5
['BROOKLYN', 'BRONX', 'MANHATTAN', 'STATEN ISLAND', 'QUEENS']

==================================
Column:  Street Name
1.  BROADWAY       6,902
2.  PARK AVENUE       4,056
3.  5 AVENUE       3,543
4.  MADISON AVENUE       2,942
5.  3 AVENUE       2,083
6.  LEXINGTON AVENUE       1,984
7.  FIFTH AVENUE       1,649
8.  7 AVENUE       1,465
9.  AVENUE OF THE AMERICAS       1,343
10. 6 AVENUE       1,333

Total number of distinct values in Street Name is 5601
['CPW', 'BRIGHTON 10 LANE', 'PIER   57', 'BRIGHTON   10 LANE', 'PPW', 'LITTLE WEST   12 STREET', 'BEACH 115 ST', 'B  116 STREET', 'BRIGHTON 1 PLACE', 'BOWERY', 'AVENUE OF THE AMERICAS', 'HHP', 'BRIGHTON 5 PLACE', 'MADISON AVENUE', 'FDR', 'BRIGHTON 2 PLACE', 'BAYSIDE', '111 ROAD', 'PARK AVENUE', 'PIER   76', 'INTERNATIONAL AIRPORT CENTER BL', 'RIVERSIDE DRIVE', 'ESPLANADE', 'BOULEVARD', 'METROTECH', 'BROADWAY', 'BRIGHTON    1 PLACE', 'BR 6 STREET', 'BQE', '5 AVENUE', 'LEXINGTON AVENUE']

==================================

In [165]:
from openclean.function.eval.base import Col, Eval
from openclean.function.eval.logic import And
from openclean.function.value.phonetic import Soundex, soundex

In [166]:
upper = ds\
    .select('Borough')\
    .update('Borough', str.upper)

In [167]:
from openclean.data.refdata import RefStore

refdata = RefStore()
city_df = refdata\
    .load('encyclopaedia_britannica:us_cities', auto_download=True)\
    .df()

In [168]:
city_list = city_df['city']
print(city_list)

0          Demopolis
1          Sylacauga
2               Troy
3             Dothan
4           Prichard
            ...
1956          Powell
1957        Riverton
1958        Sheridan
1959    Rock Springs
1960         Buffalo
Name: city, Length: 1961, dtype: object

# An example of using soundex in openclean

However, using soundex for each of the city is too slow, the code below take nearly 4 mins for one sningle city.\
So we should use clustering first and then use hard code to clean the remianing city name that is not in the city_list.

In [169]:
brooklyn = ds\
    .select('Borough')\
    .update('Borough', str.upper)\
    .filter(And(Eval('Borough', Soundex()) == soundex('BROOKLYN'), Col('Borough') != 'BROOKLYN'))\
    .distinct()

print('RANK\tCOUNT\tNAME')
for i, entry in enumerate(brooklyn.most_common()):
    key, count = entry
    print('{}.\t{}\t{}'.format(i + 1, count, key))

RANK	COUNT	NAME

# Data Cleaning for Applicant columns

* how to deal with empty values has not decided yet

# Check State Column

In [170]:
state_col = 'Owner State'
findDateOutliers(state_col, 0.1)

Column:  Owner State
1.               241,445

Total number of distinct values in Owner State is 1
['']

==================================

# Apply similar operation on Owner's Business Name

In [171]:
bn_col = "Owner Business Name"
findDateOutliers(bn_col)

Column:  Owner Business Name
1.        PR      42,491
2.                10,551
3.     NYCHA       5,929
4.       N/A       3,635
5.  SPRING SCAFFOLDING LLC       3,499
6.  ROCK GROUP NY CORP       3,223
7.  OWNERS REP       2,369
8.  PHOENIX SUTTON STR INC       2,237
9.  TRI BOROUGH SCAFFOLDING       1,939
10. SAFWAY ATLANTIC LLC       1,861

Total number of distinct values in Owner Business Name is 17524

# Using clustering for Business Name takes too much time, we can only clean those empty data for now

In [172]:
df[bn_col] = df[bn_col].replace(['N/A', '', 'NA','NONE'], [None,None,None,None])

# Data Profilling for applicant columns

Find format problems and outliers in all applicant columns

Using openclean's sklearn modules to detect problems and outliers

In [173]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

# Print the ten most frequent values for the 'Vehicle Expiration Date' column.
def findDateOutliers(column_name, eps_setting = 0.05):
    applicant_data = ds.distinct(column_name)
    print("Column: ",column_name)
    
    for rank, val in enumerate(applicant_data.most_common(10)):        
        st, freq = val
        print('{:<3} {:>8}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

    print('\nTotal number of distinct values in {} is {}'.format(column_name, len(applicant_data)))
    print(DBSCANOutliers(eps = eps_setting).find(applicant_data))
    print('\n==================================')

In [174]:
date_cols = []

print("Applicant Data columns:\n")
for col in ds.columns:
    if 'Applicant' in col:
        print(col)
        date_cols.append(col)

Applicant Data columns:

Applicant License #
Applicant First Name
Applicant Middle Name
Applicant Last Name
Applicant Business Name
Applicant Business Address

In [175]:
date_cols = []

print("Applicant Data columns:\n")
for col in ds.columns:
    if 'Applicant' in col:
        print(col)
        date_cols.append(col)

print("----------------------------\n")        
        
for col in date_cols:
    findDateOutliers(col, 0.1)

Applicant Data columns:

Applicant License #
Applicant First Name
Applicant Middle Name
Applicant Last Name
Applicant Business Name
Applicant Business Address
----------------------------

Column:  Applicant License #
1.    032158       3,950
2.    607447       3,506
3.    610440       3,329
4.    617232       2,374
5.    606141       2,371
6.    609527       2,225
7.    616234       2,103
8.    018914       2,008
9.    608211       1,989
10.   620254       1,786

Total number of distinct values in Applicant License # is 9098
['609527', '607447', '555555', '606141', '616836', '602375', '032158', '999999', '610440', '618253']

==================================
Column:  Applicant First Name
1.   MICHAEL       7,879
2.   WILLIAM       6,720
3.    JOSEPH       6,034
4.  CHRISTOPHER       5,212
5.      JOHN       5,202
6.    ROBERT       4,519
7.  SIMRANPAL       3,326
8.    THOMAS       3,102
9.     JAMES       2,907
10.    FRANK       2,777

Total number of distinct values in Applicant First Name is 3394
['UNG-JIB', 'ROBERT', 'CARMINE            A', 'HYUN  JUNG', 'JOSEPH', 'SHOW-LAIN', 'GAGANDEEP', 'CHRISTOPHER', 'MICHAEL', 'SIMRANPAL', 'STEVE LIANG FU', 'GRID-DAS', 'CONSTANTINE (GUS)', 'SHIH-CHIEH', 'WILLIAM', 'ZE-ZHEN', 'CHUN-HSIUNG', 'LASANTHA PANTHIYE', 'BUILD002', 'ALLEN/ALEYDA/DARLENE', 'MICHAEL KRAIWOOT', 'MIERANDJANSHARMA', 'NICK XIAN DENG', "RAYMOND ''COLIN''", 'ANTHONY', 'JONATHAN', 'FRANCISCO ALEXANDER', 'A K', 'JOHN', '900 3RD AVENUE', 'SENIA DE DIOS', 'SIN FANG FANNY', 'PHILIP', 'SH ISHI', 'MOHAMMAD  A.', 'M A', 'MOHAMMED  S.', 'JOSEPH-MARCO', 'MAHAMEDSHEHJAD', 'GEORGE', 'YUNG-HO', 'YU MING YE', 'YOSSEL LICHTMAN', 'MOHAMMAD M.', 'CHRISTOPHER H.', 'MAO  J', 'PO SHENG']

==================================
Column:  Applicant Middle Name
1.               241,342
2.       GIL         103

Total number of distinct values in Applicant Middle Name is 2
['', 'GIL']

==================================
Column:  Applicant Last Name
1.     SINGH      19,694
2.      KAUR       4,598
3.    DOWNES       3,950
4.    LAFFEY       3,506
5.       HSU       2,398
6.     LYNCH       2,259
7.    SIWIEC       2,225
8.     ADLER       2,104
9.    LEVINE       2,028
10.     SUSI       2,008

Total number of distinct values in Applicant Last Name is 6288
['', 'SISCA III', 'DEL MONACO JR', 'BUILD002', 'L DE LA LUZ GONZALEZ', 'AKRAM  GONDAL', 'MEYERS/AUSTIN/RAPOSO', 'DE LA ROSA', 'BARBARIA JR.', 'KAUR', 'VITTORIA  JR.', 'MOSSO COSS', 'URBINATI, JR.', 'ST. ONGE-CASAVANT', 'CONTO, JR.', 'DE ROSS             III', 'ALDEN JR.', 'TOMAI, JR.', 'VOLPE JR.', 'ROSA , JR.', 'ALMOG - ARAZI', 'ALCANTARA LIRIANO', 'PULETTI, JR.', 'DE LA CRUZ', 'SINGH']

==================================
Column:  Applicant Business Name
1.  EVEREST SCAFFOLDING INC       4,055
2.  ROCK GROUP NY CORP       3,530
3.  SPRING SCAFFOLDING LLC       3,503
4.  CORE SCAFFOLD SYSTEMS INC       2,319
5.  PHOENIX SUTTON STR INC       2,235
6.  SILVERCUP SCFFLDNG I LLC       2,104
7.  ARSENAL SCAFFOLD INC       2,010
8.  SAFWAY ATLANTIC, LLC       1,988
9.  NATIONAL MAINTENANCE, INC       1,594
10. PLATINUM SERVICES NY LLC       1,591

Total number of distinct values in Applicant Business Name is 9409
['', 'WS2K CORP', 'N/A', '335-7 LLC', 'ALMUNIR.CORP', 'EVEREST SCAFFOLDING INC', 'PLATINUM SERVICES NY LLC', 'SAFWAY ATLANTIC, LLC', 'SILVERCUP SCFFLDNG I LLC', 'L.S. SIGN CO. INC', 'JASCO, INC', 'BOLSTER.US,INC', 'PHOENIX SUTTON STR INC', 'R.W. DAKE & CO.,INC', 'DESIGN 2020 LLC', '387 PAS GC LLC', 'PAR PLUMBING CO., INC', 'A.G.M. P & H INC', 'EASTERN 2000 INC', 'ZHONGSHUN', 'ROMA SCAFFOLDING INC', 'GUNGHO', 'TRI BOROUGH SCAFFOLDING', 'CMC1 CORP', 'QAZ4', 'L.S. SIGN CO., INC', 'E.Y.M.S. INC', '1625 DB INC', 'PAUL SIGNS, INC', 'BEACH HOUSE 60, LLC', 'CORE SCAFFOLD SYSTEMS INC', 'MOROZOV', 'ARSENAL SCAFFOLD INC', '212 HVAC LLC', 'C.R.C. PLBG. & HTG. CORP', 'R.G.M. SIGNS INC', 'K.M.D. MCHNCL 1443 LLC', 'SPRING SCAFFOLDING LLC', '957 GREEN AVE LLC', 'H.I.I. CORP', 'ROCK GROUP NY CORP', '3T GC LLC', '5D ARCHITECTURE & ENGINEERING PLLC.', 'SIGNSTAR NYC', 'GAGAN G.C. INC', 'ART + 1, INC', 'VERITAS ENGINEERING & INSPECTION, P', 'B & B 21 MANAGEMENT INC', 'ACTIVE SIGNS INC', 'H20 LLC', 'QAZ3', '128 AC INC', 'TEST', 'L1C CORP', 'L&J PLG & HTG CO OF NY IN', 'ARTIFACT', 'OCGP.LLC', 'T.R.R.C.,INC', 'MICHAEL R. LISOWSKI ARCHITECTURE, L', 'PIPESTYLISTS, INC', 'G05 INC', '2MO LLC', 'KINGS GROUP NY CORP', 'JJS BUILDERS', 'NATIONAL MAINTENANCE, INC', 'NORTH SHORE NEON SIGN CO', 'M.R.S., INC', 'K.O.S. PLUMBING&HEATING,I', 'TRI BOROUGH SCAFFOLDING.&', 'BUILD4NY, LLC', '7 & 9 ALBAN LLC', 'I.C.P CORP', '2260 MAG CORP', 'H2L LLC', '99 MCDOUGAL LLC', '(718)541-0701 MANAGEMENT', 'L.E.C.INC', '718-HOME LLC', 'G.B. & SON, INC', 'CS BRIDGE CORP', 'GEM-QUALITY CORP', 'MADISON 30 31 OWNER LLC', 'G.A.M.C.N.Y. LLC', 'METROPOLITAN MECHANICAL CONTRACTORS', 'ALEKS & F., INC', '226 LLC', 'SD 2 INC', 'VISION 21 INC', 'E-Z FLOW P & H INC', 'NYEG.CORP', 'Z-CAR-D CORP', 'GOGOLEYED,LLC', '154-21 CORP', "WATSON'S PLBG, HTG, & BDG", 'M.R.S.INC', 'WRECK IT NYC 11 INC', 'R.U.B.G.A LLC', 'NAVILLUS', 'RIGGS PLMBG & HTG & 58TH']

==================================
Column:  Applicant Business Address
1.                26,648
2.  49-30 31ST PLACE       2,728
3.  1150 LONGWOOD AVE       2,673
4.  101 PARK AVENUE LOWER LOBBY       1,737
5.  119 MT. VERNON STE 2E       1,619
6.  53-28 11TH STREET 2ND FL       1,601
7.  700 COMMERCIAL AVENUE       1,580
8.  128 SUTTON STREET       1,554
9.  41-33 38TH STREET       1,453
10. 23-41 BORDEN AVENUE       1,357

Total number of distinct values in Applicant Business Address is 9236
['', '177-48 106RD', 'ARTIMUS CONSTRUCTION INC', '8 OAK STREET TREE DR STE 2', '802 71ST', '1444 150TH STREET UNIT 575068', '54 W 74 ST #611', 'QAZ', 'STAR UNIVERSE RENOVATION CORP', '36TH ROAD', '280 BWY', 'QAZ4', 'BROOKLYN CONSTRUCTION MANAGEMENT', '157 28 ST', '90', 'SUITE 207', '47-27 195ST', 'RASHINDER', '82-17 153RD AVE., SUITE #206', '49-30 31ST PLACE', '6618 20TH AVE #40442', '147 28 ST', '44-03 28 AVE.', 'LEONE ENTERPRISES', '9-11 N WEST ST', 'JA LLC', '1301 70 ST', '50 LEFFERTS AVE......APT2J', '77 ALLEN STREET.....2B', '3 BAYSIDE', '388 E 198 ST', '40 GATON', '1813 58 ST', '41-43 43RD', '8319 20TH AVE.....STE 200', '1279 E 102 ST']

==================================

# Analysis

the above results show the problems for the data cleaning task:
    
### For name data

in "Applicant's First Name", "Applicant's Last Name", "Applicant Professional Title", there are many outliers which are illegal input, and there are many similar values. We need first converts evident outliers to legal values, then use kNN clusterer to standardize similar values.


### Applicant License #

Applicant License # is made of 6 digits, there are outliers that do not satisfy the 6-digit format. We can not use kNN clusterer to standardize because many License # are similar.

# Data Cleaning for Applicant columns

* how to deal with empty values has not decided yet

In [176]:
# mapping list to replace outliers
outlier1 = ['', 'MR. ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM 11', 'JOSEP;H``', 'DAID/11/2007', 'CHUNG   LUN', '718 9215010', 'ANTHONY', 'HSIA0-NAN', 'JOSEPH', '``````````', 'ROBERT  `', 'RAJENDRA9956700', '2', 'G.B.M.', 'EUGENE......JR', '6312100', 'CLAUDE,JR.', 'THOMAS``', 'ALAN  L', 'Nab53', 'MR. Y. B', 'J.J', 'PH8ILIP', 'I. M', 'RICHARD', 'ALBERTA S 111 D', 'P ;', 'GENECG.C. ENG &', 'J.J.', '2126202794', 'SHAW  HWA', 'HARRY         H', 'MR DOU8GLAS', '`1D', 'PAUL', 'K. T.', 'JOHN', '...NORMAN', 'EVAN   D', '7184361278BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MAD/Y/ARNI', 'ES ON SCH B', 'EUGENE.......JR', 'NEAL', 'F._ERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0-TECH', 'RODNEY   __', 'DAVID', 'G. L.', 'JAMES', 'LESLI8E', '7186054055', 'GEORGE', 'G.B.M', 'DAVID    JON', 'CHUNG---YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', '1P', 'JUDE.....N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD/HON-AN', 'GLEN  A.L.', 'J.B. Jr.', 'LORENZO..A', 'J J', '..RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY 2', '...JOSEPH', 'RUSSELL 111', 'THOMAS', 'H./E./CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', '--young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']
mapping1 = [None, 'ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM', 'JOSEPH', None, 'CHUNG LUN', None, 'ANTHONY', 'HSIA0 NAN', 'JOSEPH', None, 'ROBERT', 'RAJENDRA', None, 'G.B.M.', 'EUGENEJR', None, 'CLAUDE JR.', 'THOMAS', 'ALAN  L', 'Nab', 'MR. Y. B', 'J.J', 'PHILIP', 'I. M', 'RICHARD', 'ALBERTA', None, 'GENECG.C. ENG', 'J.J.', None, 'SHAW HWA', 'HARRYH', 'MR DOUGLAS', None, 'PAUL', 'K. T.', 'JOHN', 'NORMAN', 'EVAND', 'BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MADYARNI', 'ES ON SCH B', 'EUGENEJR', 'NEAL', 'FERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0 TECH', 'RODNEY', 'DAVID', 'G. L.', 'JAMES', 'LESLIE', None, 'GEORGE', 'G.B.M', 'DAVID JON', 'CHUNG YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', None, 'JUDE N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD HON-AN', 'GLEN A.L.', 'J.B. Jr.', 'LORENZOA', 'J J', 'RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY', 'JOSEPH', 'RUSSELL', 'THOMAS', 'H.E.CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', 'young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']

outlier2 = ['SHARMA #0', "0'CONNOR", 'RUSHTON    UEL', 'UDDIN   Z', 'HINKLEY 1', 'O&#039;CONNOR, P.E.', '.OOK', 'SAMUELS111', 'O&#039;CONNOR', 'CALIENDO', 'SMITH   JR.', 'LO  BUE', '7AN', '+-+ETTIERI', 'SMITH, 111', 'KAMEN   1', '.EE', 'MASS, 1', '.EI', 'Zagaroli 3rd', 'RINI   II', 'KAMEN   R', 'RYAN 11', 'SPI8EZIA L S', 'MUFTIC..A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL, P.E.', 'HAMA07', 'HINLEY,1', '1212', "O  ' CONNELL", 'HURT,JR.,', 'WESOLOWSKI', 'CHEN', '`ING, R.A', 'MARTARELLA 111', 'Gandhi, Ph.D., P.E.', '90I', 'ENNIS 2', 'COSTELLO R A A I A', '3UI', 'N/A', 'HURT,  JR', 'LEHR,1', 'KOHLER, 111', 'GERAZOUNIS', 'Alexander,1', 'LUBOW, R.A. LEED AP', 'RINI,111', '08CZAK', '````````````````````', 'CHAO  R.A.', 'Geier 11', '08NGEL', '08SOLOWSKI', 'I11', 'HINKLEY, 1', 'RUDIKOFF, P.E.', "O'CONNOR", 'SHAH   EZ', 'MIELE, JR., P.E.', 'RITTENHOUSE 111', 'AMADI   ISIOFIA', 'HINKLEY,1', 'RENFORE````````', "O'HARA,JR.", '73020012', 'PHAGOO   I', 'BRAY.....,', 'LLL', 'BHATHIA,1', 'GANDHI, PH. D., P.E', 'KO K', 'VASSALOTTI 11', 'HURT, JR .', '0018LKLE', 'RINI -111', 'PARIHAR', 'EE', 'L00802', 'ELISE.111', 'KING , R.A', 'CHRYSLER  P E', 'LEHR 1', 'Walters   Jr.', 'LEE', 'RINI  III', 'D&#039;ANGELO', '0UDOLPH III', 'VIEHE-NAESS 111', ',MO', '08E', '47DIKOFF', 'Yu,', '420865380', 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', '901BEN', '4153LOO', 'SYED-NAQVI', 'RYAN , JR.', 'K O K O R I S', 'ELISEO111', 'O&#039;CONNELL', 'ZEID61', '---Lewis', '00CHELI', 'MOHAMMAD       +++++', 'METZLER  P E', 'BAILEY', 'GANDHI, PH. D., P.E.', 'TIEMANN.111', 'SMITH.111', 'DI GER0NIMO', 'GANDHI, PH,D., P.E', 'III', 'J C', 'MAGAMI-QAIM-MAGAMI', '+M', 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', 'Y10007OR', 'SMITH,111', 'KING R A FAIA', 'RYAN III, AIA', '08AN', 'STARK 1', 'MASS', 'VICTORI0, R.A', 'RIZVI   A', '21029677', "3'CONNOR", 'Wong /  Lai', 'KAPLAN 3', 'GRAICHEN.JR./DAWN/DI', 'GROSSMAN ,PE,F.A.C.I']
mapping2 = ['SHARMA ', "CONNOR", 'RUSHTON UEL', 'UDDIN Z', 'HINKLEY ', 'CONNOR P.E.', None, 'SAMUELS', 'CONNOR', 'CALIENDO', 'SMITH JR.', 'LO BUE', None, 'ETTIERI', 'SMITH', 'KAMEN', '.EE', 'MASS', '.EI', 'Zagaroli', 'RINI', 'KAMEN R', 'RYAN', 'SPIEZIA L S', 'MUFTIC.A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL P.E.', 'HAMA', 'HINLEY', None, "CONNELL", 'HURT JR.', 'WESOLOWSKI', 'CHEN', 'ING R.A', 'MARTARELLA', 'Gandhi', None, 'ENNIS ', 'COSTELLO R A A I A', None, None, 'HUR  JR', 'LEHR', 'KOHLER 111', 'GERAZOUNIS', 'Alexander', 'LUBOW R.A. LEED AP', 'RINI',None, None, 'CHAO R.A.', 'Geier', None, 'SOLOWSKI', None, 'HINKLEY', 'RUDIKOFF, P.E.', "CONNOR", 'SHAH EZ', 'MIELE JR. P.E.', 'RITTENHOUSE', 'AMADI   ISIOFIA', 'HINKLEY', 'RENFORE', "O'HARA,JR.", None, 'PHAGOO I', 'BRAY,', 'LLL', 'BHATHIA', 'GANDHI', 'KO K', 'VASSALOTTI', 'HURT JR.',None, 'RINI', 'PARIHAR', 'EE', None, 'ELISE', 'KING R.A', 'CHRYSLER  P E', 'LEHR', 'Walters Jr.', 'LEE', 'RINI  III', 'ANGELO', '0UDOLPH III', 'VIEHE-NAESS', 'MO', '08E', None, 'Yu,', None, 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', None, None, None, 'RYAN JR.', 'KOKORIS', 'ELISE', 'CONNELL', None, 'Lewis', 'CHELI', 'MOHAMMAD', 'METZLER  P E', 'BAILEY', 'GANDHI', 'TIEMANN', 'SMITH', 'DI GER0NIMO', 'GANDHI', 'III', 'J C', 'MAGAMI QAIM MAGAMI', None, 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', None, 'SMITH', 'KING R A FAIA', 'RYAN III AIA', None, 'STARK', 'MASS', 'VICTORI0 R.A', 'RIZVIA', None, "CONNOR", 'Wong Lai', 'KAPLAN', 'GRAICHEN.JR. DAWN DI', 'GROSSMAN']

outlier3 = ['', '....DEMO', '050069', 'DEM. CONTR.,', 'XXXXX', 'G/C 10114H9', 'CGWC10114H99', '00', 'X S000155', '082-36-1245', 'G.G', 'LESSEE', '......GC', "'", '..OWNER', 'GC 2293', '--', 'XXXXXX', 'LS 31,721', '...GC', 'gen.cont.', 'G.C TK#4592', 'PE', 'RLA - 818', '.....OWNER', 'RLA 16077', 'G C', 'X 4129892', 'G. C.', 'R.L.A', 'GC 1028350', 'WC10114H99', 'LEESEE', 'GEN.CONT.', 'SIGN..HANGER', 'DEMO 20451', 'D8615', '.X', 'P.L.L.C', '..DEMO', 'G .C', 'L A', 'G.C NY11101', '32820', '....OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC99792', 'X 1341946', 'TRACK# 1390', 'EXPED.R4466', 'PLLC 9599691', 'G.C 1110101', '029649', '(CHECK)', 'DEM. CONTR,', 'EXPEDIT(H66172)', '.........GC', 'CITY OF N Y', 'GC 1170386', 'G. C', 'CO0OWNER', '(CHECKED)', 'C.C', '23392 1159774', 'DEMO {', 'RA', 'T. 31132', '....GC', 'RLA-787', 'TRACK #1390', 'D C', 'G.CONTR.', 'DEMO  CONT', '1GC', 'CC', 'demo G.C.', 'TRACK. #1390', 'M.F.S.P.C.', '...DEMO', 'DEMO G C', '13328', 'GEN  CONT', 'GC 1221073', "GC;'", 'DEMO 1341946', '11234', 'G.C.,', '.....GC', 'LIC.133668259 1', '?', '0WNER', 'C10892', 'GEN..CONT']
mapping3 = [None, 'DEMO', None, 'DEM. CONTR', None, 'G/C', 'CGWC', None, 'X S', None, 'G.G', 'LESSEE', 'GC', None, 'OWNER', 'GC', None, None, 'LS ', 'GC', 'gen.cont.', 'G.C TK', 'PE', 'RLA ', 'OWNER', 'RLA ', 'G C', 'X', 'G. C.', 'R.L.A', 'GC', 'WC', 'LEESEE', 'GEN.CONT.', 'SIGN.HANGER', 'DEMO', None,None, 'P.L.L.C', 'DEMO', 'G.C', 'L A', 'G.C ', None, 'OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC', None, 'TRACK', 'EXPED.R', 'PLLC ', 'G.C', None, None, 'DEM. CONTR,', 'EXPEDIT', 'GC', None, 'GC', 'G.C', 'CO0OWNER', None, 'C.C', None, 'DEMO', 'RA', None, 'GC', 'RLA', None, 'D C', 'G.CONTR.', 'DEMO  CONT', 'GC', 'CC', 'demo G.C.', None, 'M.F.S.P.C.', 'DEMO', 'DEMO G C', None, 'GEN  CONT', 'GC ', "GC ", 'DEMO ', None, 'G.C.', 'GC', 'LIC', None, '0WNER',None, 'GEN.CONT']

outlier4 = ['', '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '99998', '000N/A', '65569+', '01827O', 'R9526', 'LP0256', 'N/A', '1964', 'ISLAND', '1609', '000PW1', '00DEMO', '0688.6', '00000', '.20929', 'LP0258', '000TOR', '0D8615', '0SWITA', '818', 'O02200', 'DEMO', '196', '1075', '0000NT', '215', '0', '00000`', "D'ALTO", '0455', '22377', 'DD8615', '050579', '226', 'SWITA', 'DD6815', 'X02689']
mapping4 = [None, '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '099998', '000000', '065569', '01827O', '0R9526', 'LP0256',None, '001964',None, '001609', '000PW1', '00DEMO', '006886', '000000', '020929', 'LP0258', '000TOR', '0D8615', '0SWITA', '000818', 'O02200', None, '000196', '001075', '0000NT', '000215', '000000', '000000', None, '000455', '022377', 'DD8615', '050579', '000226', None, 'DD6815', 'X02689']

outlier5 = ['', '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '99998', '000N/A', '65569+', '01827O', 'R9526', 'LP0256', 'N/A', '1964', 'ISLAND', '1609', '000PW1', '00DEMO', '0688.6', '00000', '.20929', 'LP0258', '000TOR', '0D8615', '0SWITA', '818', 'O02200', 'DEMO', '196', '1075', '0000NT', '215', '0', '00000`', "D'ALTO", '0455', '22377', 'DD8615', '050579', '226', 'SWITA', 'DD6815', 'X02689']
mapping5 = [None, '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '099998', '000000', '065569', '01827O', '0R9526', 'LP0256',None, '001964',None, '001609', '000PW1', '00DEMO', '006886', '000000', '020929', 'LP0258', '000TOR', '0D8615', '0SWITA', '000818', 'O02200', None, '000196', '001075', '0000NT', '000215', '000000', '000000', None, '000455', '022377', 'DD8615', '050579', '000226', None, 'DD6815', 'X02689']

outlier6 = ['','77 ALLEN STREET.....2B', '50 LEFFERTS AVE......APT2J', '90' ]
mapping6 = [None, '77 ALLEN STREET 2B', '50 LEFFERTS AVE APT2J', None]


outliers = [outlier1, outlier2, outlier3, outlier4, outlier5, outlier6]
mappings = [mapping1, mapping2, mapping3, mapping4, mapping5, mapping6]

# Remove evident outliers using hard coded mapping

In [177]:
i = 0
for col in date_cols:
    df[col] = df[col].replace(outliers[i], mappings[i])
    i += 1

# Convert similar values to suggested value using kNN clustering

In [178]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(col, minsize = 2):
    dba = ds.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(0.75)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    print('Cluster {} (of size {})\n'.format(cnumber + 1, len(cluster)))
    for val, count in cluster.items():
        print('{} ({})'.format(val, count))
    print('\nSuggested value: {}\n\n'.format(cluster.suggestion()))

def updateUsingClusters(col, clusters, isPrint = False):
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i < 5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
            
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [179]:
for col in date_cols[:3]:
    print("kNN cluster for ", col)
    col_clusters = getClusters(col)
    print("updating column ", col)
    print("----------------------\nTop 5 Cluster:\n----------------------")
    updateUsingClusters(col, col_clusters, True)
    print("================")

kNN cluster for  Applicant License #
updating column  Applicant License #
----------------------
Top 5 Cluster:
----------------------
================
kNN cluster for  Applicant First Name
updating column  Applicant First Name
----------------------
Top 5 Cluster:
----------------------
Cluster 1 (of size 10)

MOHAMMAD (330)
MOHAMMAD M (4)
MOHAMMAD I (5)
MOHAMMAD O (3)
MUHAMMAD U (3)
MOHAMMAD M. (2)
MOHAMMAD J (5)
MUHAMMAD A (2)
MOHAMMED A (6)
MOHAMMAD S (8)

Suggested value: MOHAMMAD


Cluster 2 (of size 10)

HARVINDER (82)
DARVINDER (6)
PARVINDER (17)
TARVINDER (4)
RAVINDER (2)
DEVINDER (32)
KULVINDER (6)
DAVINDER (4)
ARVINDER (1)
DALVINDER (576)

Suggested value: DALVINDER


Cluster 3 (of size 10)

DALVINDER (576)
HARVINDER (82)
PARVINDER (17)
TARVINDER (4)
GURVINDER (25)
RAVINDER (2)
DEVINDER (32)
DAVINDER (4)
ARVINDER (1)
DARVINDER (6)

Suggested value: DALVINDER


Cluster 4 (of size 9)

DALVINDER (576)
DARVINDER (6)
PARVINDER (17)
TARVINDER (4)
GURVINDER (25)
RAVINDER (2)
DAVINDER (4)
ARVINDER (1)
HARVINDER (82)

Suggested value: DALVINDER


Cluster 5 (of size 8)

CHRISTINE (185)
CHRISTIAN (33)
CHRISTA (2)
CHRISTIE (1)
CRISTINA (28)
KRISTINA (31)
CRISTINE (3)
CHRISTINA (1)

Suggested value: CHRISTINE


================
kNN cluster for  Applicant Middle Name
updating column  Applicant Middle Name
----------------------
Top 5 Cluster:
----------------------
================

# Save cleaned data

In [180]:
outputpath = datafile[2:11]+'_cleaned_data.csv'
df.to_csv(outputpath,sep=',',index=False,header=True)

# Precision and Recall

In [223]:
df2  = pd.read_csv(datafile, dtype='object', sep='\t')
df2 = df2.drop_duplicates()

sample_size = 100

df_sample_data =  df2.sample(sample_size).copy()

In [224]:
cleaned_columns = ['Job Filing Number','House No',"Owner Business Name", "Approved Date","Issued Date",
                   'Expired Date',"Borough", "Street Name","Applicant First Name","Applicant Middle Name",
                   "Applicant Last Name","Applicant Business Name","Applicant Business Address"
]

In [225]:
df_sample_data = df_sample_data[cleaned_columns]

In [227]:
def precision(tp, fp):
    return tp/(tp+fp)

def recall(tp, fn):
    return tp/(tp+fn)

In [233]:
print('sample size: ',sample_size)
print('total size: ',sample_size * len(cleaned_columns))
print('======================\n\n')

same = 0

for col in cleaned_columns:
    print("column: ", col)
    print("Original,\t Cleaned\n")
    for i in range(sample_size):
        if df[col].iloc[i]== df2[col].iloc[i]:
            same += 1
        else:
            print(df[col].iloc[i], '\t', df2[col].iloc[i], '\t*')
    
    print('.......', same, ' same records ......\n')
    same = 0
    
    print('======================\n\n')

sample size:  100
total size:  1300
======================


column:  Job Filing Number
Original,	 Cleaned

....... 100  same records ......

======================


column:  House No
Original,	 Cleaned

....... 100  same records ......

======================


column:  Owner Business Name
Original,	 Cleaned

CGM MANAGEMENT GROUP INC 	 CGM MANAGEMENT GROUP, INC 	*
nan 	 nan 	*
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC. 	*
H&Z BUILDING CORP 	 H&Z BUILDING CORP. 	*
JSK CONSTRUCTION CORP 	 J.S.K. CONSTRUCTION CORP 	*
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC. 	*
SILVERSTEIN PROPERTIES INC 	 SILVERSTEIN PROPERTIES INC. 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC. 	*
133-43 35 AVE LLC 	 133-43 35 AVE LLC. 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
HOMEMADE TAQUERIA 14TH AVE 	 HOMEMADE TAQUERIA 14TH AVE. 	*
BROADWAY BRETTON INC 	 BROADWAY BRETTON INC. 	*
nan 	 nan 	*
FM RING ASSOCIATES INC 	 F.M. RING ASSOCIATES, INC. 	*
nan 	 nan 	*
SILVERSTEIN PROPERTIES INC 	 SILVERSTEIN PROPERTIES INC. 	*
....... 79  same records ......

======================


column:  Approved Date
Original,	 Cleaned

....... 100  same records ......

======================


column:  Issued Date
Original,	 Cleaned

....... 100  same records ......

======================


column:  Expired Date
Original,	 Cleaned

....... 100  same records ......

======================


column:  Borough
Original,	 Cleaned

....... 100  same records ......

======================


column:  Street Name
Original,	 Cleaned

....... 100  same records ......

======================


column:  Applicant First Name
Original,	 Cleaned

....... 100  same records ......

======================


column:  Applicant Middle Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
....... 0  same records ......

======================


column:  Applicant Last Name
Original,	 Cleaned

....... 100  same records ......

======================


column:  Applicant Business Name
Original,	 Cleaned

....... 100  same records ......

======================


column:  Applicant Business Address
Original,	 Cleaned

....... 100  same records ......

======================

In [234]:
print('sample size: ',sample_size)
print('total size: ',sample_size * len(cleaned_columns))
print('======================\n\n')

same = 0

for col in cleaned_columns:
    print("column: ", col)
    print("Original,\t Cleaned\n")
    for i in range(sample_size):
        if df[col].iloc[i]== df2[col].iloc[i]:
            print(df[col].iloc[i], '\t', df2[col].iloc[i], '\t')
        else:
            print(df[col].iloc[i], '\t', df2[col].iloc[i], '\t*')

    print('======================\n\n')

sample size:  100
total size:  1300
======================


column:  Job Filing Number
Original,	 Cleaned

M00531234-I1 	 M00531234-I1
X00496654-I1 	 X00496654-I1
B00579209-I1 	 B00579209-I1
M00514656-I1 	 M00514656-I1
M00431823-I1 	 M00431823-I1
B00583762-I1 	 B00583762-I1
B00516232-I1 	 B00516232-I1
B00472417-I1 	 B00472417-I1
B29303378-I1 	 B29303378-I1
M00379533-I1 	 M00379533-I1
B00369280-I1 	 B00369280-I1
B00378717-I1 	 B00378717-I1
Q00284352-I1 	 Q00284352-I1
B00513806-I1 	 B00513806-I1
S00426773-I1 	 S00426773-I1
S00253862-I1 	 S00253862-I1
X00434717-I1 	 X00434717-I1
B00055891-I1 	 B00055891-I1
B00491585-I1 	 B00491585-I1
M00514118-I1 	 M00514118-I1
B00283296-I1 	 B00283296-I1
B00516235-I1 	 B00516235-I1
B00500645-I1 	 B00500645-I1
M00308545-I1 	 M00308545-I1
M00431432-I1 	 M00431432-I1
M00492347-I1 	 M00492347-I1
X00468553-I1 	 X00468553-I1
M00489394-I1 	 M00489394-I1
M00406969-I1 	 M00406969-I1
M00510532-I1 	 M00510532-I1
Q00513093-I1 	 Q00513093-I1
X00294312-I1 	 X00294312-I1
M00340646-I1 	 M00340646-I1
B00504274-I1 	 B00504274-I1
B00508946-I1 	 B00508946-I1
Q00509417-I1 	 Q00509417-I1
M00296154-I1 	 M00296154-I1
B00569487-I1 	 B00569487-I1
M00503100-I1 	 M00503100-I1
M00502169-I1 	 M00502169-I1
M00516217-I1 	 M00516217-I1
B00428043-I1 	 B00428043-I1
Q00534245-I1 	 Q00534245-I1
Q00504804-I1 	 Q00504804-I1
M00449689-S2 	 M00449689-S2
S00336724-I1 	 S00336724-I1
S00253920-I1 	 S00253920-I1
B00238236-I1 	 B00238236-I1
M00449689-S2 	 M00449689-S2
X00174607-I1 	 X00174607-I1
B00228168-I1 	 B00228168-I1
B00534967-I1 	 B00534967-I1
B00458845-I1 	 B00458845-I1
M00497991-I1 	 M00497991-I1
B00249026-I1 	 B00249026-I1
Q00547684-I1 	 Q00547684-I1
M00595384-I1 	 M00595384-I1
Q00505332-I1 	 Q00505332-I1
B00545437-I1 	 B00545437-I1
Q00507228-I1 	 Q00507228-I1
B00225576-I1 	 B00225576-I1
M00449689-S2 	 M00449689-S2
M00114992-I1 	 M00114992-I1
M00604206-I1 	 M00604206-I1
Q00550542-I1 	 Q00550542-I1
B00042385-I1 	 B00042385-I1
B00588281-I1 	 B00588281-I1
M00226998-I1 	 M00226998-I1
M00488142-I1 	 M00488142-I1
B00451789-I1 	 B00451789-I1
Q00079323-I1 	 Q00079323-I1
Q00513986-I1 	 Q00513986-I1
S00463035-I1 	 S00463035-I1
M00438710-I1 	 M00438710-I1
Q00268378-I1 	 Q00268378-I1
M00522488-I1 	 M00522488-I1
B00504293-I1 	 B00504293-I1
M00465146-I1 	 M00465146-I1
M00383376-I1 	 M00383376-I1
M00328138-I1 	 M00328138-I1
Q00355680-I1 	 Q00355680-I1
Q00106500-I1 	 Q00106500-I1
S00253920-I1 	 S00253920-I1
B00552616-I1 	 B00552616-I1
X00517220-I1 	 X00517220-I1
M00344399-I1 	 M00344399-I1
M00322766-I1 	 M00322766-I1
B00515793-I1 	 B00515793-I1
M00233819-I1 	 M00233819-I1
S00488700-I1 	 S00488700-I1
M00477017-I1 	 M00477017-I1
B00451173-I1 	 B00451173-I1
M00307675-I1 	 M00307675-I1
B00246051-I1 	 B00246051-I1
M00514919-I1 	 M00514919-I1
B00573013-I1 	 B00573013-I1
S00474917-I1 	 S00474917-I1
M00523003-I1 	 M00523003-I1
M00326846-I1 	 M00326846-I1
M00493507-I1 	 M00493507-I1
======================


column:  House No
Original,	 Cleaned

26 	 26
1051 	 1051
1010 	 1010
33 	 33
301 	 301
350 	 350
102 	 102
1329 	 1329
106 	 106
204 	 204
309 	 309
538 	 538
57-28 	 57-28
136 	 136
7 	 7
116 	 116
1073 	 1073
652 	 652
434 	 434
6 	 6
408 	 408
102 	 102
691 	 691
2643 	 2643
1 	 1
120 	 120
915 	 915
350 	 350
120 	 120
245 	 245
112-27 	 112-27
641 	 641
360 	 360
1115 	 1115
64 	 64
99-06 	 99-06
311 	 311
333 	 333
101 	 101
1375 	 1375
12 	 12
580 	 580
133-43 	 133-43
82-08 	 82-08
224 	 224
2500 	 2500
101 	 101
717 	 717
224 	 224
362 	 362
2255 	 2255
720 	 720
1117 	 1117
66 	 66
221 	 221
40-40 	 40-40
112 	 112
87-49 	 87-49
14 	 14
72-31 	 72-31
113 	 113
224 	 224
253 	 253
2 	 2
30-50 	 30-50
30 	 30
6602 	 6602
2350 	 2350
240 	 240
720 	 720
132-20 	 132-20
155-21 	 155-21
337 	 337
40 	 40
187-19 	 187-19
80 	 80
597 	 597
351 	 351
23 	 23
144 	 144
97-25 	 97-25
104-19 	 104-19
101 	 101
140 	 140
2894 	 2894
606 	 606
345 	 345
923 	 923
517 	 517
350 	 350
120 	 120
394 	 394
602 	 602
625 	 625
33 	 33
1217 	 1217
2212 	 2212
748 	 748
1295 	 1295
178 	 178
======================


column:  Owner Business Name
Original,	 Cleaned

PR 	 PR
EIB WESTCHESTER 1 LLC 	 EIB WESTCHESTER 1 LLC
TWIN GROUP ASSOCIATES INC 	 TWIN GROUP ASSOCIATES INC
CGM MANAGEMENT GROUP INC 	 CGM MANAGEMENT GROUP, INC 	*
BROADWAY MERCER ASSOCIATES 	 BROADWAY MERCER ASSOCIATES
nan 	 nan 	*
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC. 	*
FM CONSOLIDATED HOLDING 	 FM CONSOLIDATED HOLDING
DRY CLEANING EQUIPMENT 	 DRY CLEANING EQUIPMENT
RESTORING COMMUNITIES HDFC 	 RESTORING COMMUNITIES HDFC
ASP 	 ASP
H&Z BUILDING CORP 	 H&Z BUILDING CORP. 	*
GO HPS LLC 	 GO HPS LLC
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
CAPODANNO PROPERTIES 	 CAPODANNO PROPERTIES
ASHLAND BUILDING LLC 	 ASHLAND BUILDING LLC
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
JSK CONSTRUCTION CORP 	 J.S.K. CONSTRUCTION CORP 	*
PR 	 PR
DAROR ASSOCIATES 	 DAROR ASSOCIATES
MOONSHINE CONSTRUCTION 	 MOONSHINE CONSTRUCTION
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC. 	*
BEN JOSEF GROUP 	 BEN JOSEF GROUP
HPD 	 HPD
VORNADO REALTY TRUST 	 VORNADO REALTY TRUST
SILVERSTEIN PROPERTIES INC 	 SILVERSTEIN PROPERTIES INC. 	*
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
BERNSTEIN REAL ESTATE 	 BERNSTEIN REAL ESTATE
THE BROMLEY COMPANIES 	 THE BROMLEY COMPANIES
PR 	 PR
nan 	 nan 	*
NEW CITY BRIDGING CORP 	 NEW CITY BRIDGING CORP
PR 	 PR
PR 	 PR
nan 	 nan 	*
PR 	 PR
nan 	 nan 	*
THE ATLANTIC BKLN 	 THE ATLANTIC BKLN
PR 	 PR
CBRE 	 CBRE
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC. 	*
ISSAC 	 ISSAC
133-43 35 AVE LLC 	 133-43 35 AVE LLC. 	*
PR 	 PR
PR 	 PR
NYC DDC 	 NYC DDC
ASHLAND BUILDING LLC 	 ASHLAND BUILDING LLC
PR 	 PR
PR 	 PR
ALBA SERVICES INC 	 ALBA SERVICES INC
PR 	 PR
URBAN STANDARD CAPITAL 	 URBAN STANDARD CAPITAL
PR 	 PR
nan 	 nan 	*
nan 	 nan 	*
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
nan 	 nan 	*
PR 	 PR
PARSONS CONSTRUCTION INC 	 PARSONS CONSTRUCTION INC
AT&T 	 AT&T
PR 	 PR
PR 	 PR
CONSOLIDATED SCAFFOLD & BRIDGE 	 CONSOLIDATED SCAFFOLD & BRIDGE
UPTOWN CONSTRUCTION GROUP 	 UPTOWN CONSTRUCTION GROUP
MUSS DEVELOPMENT LLC 	 MUSS DEVELOPMENT LLC
SCUADRA PROPERTIES 	 SCUADRA PROPERTIES
HOMEMADE TAQUERIA 14TH AVE 	 HOMEMADE TAQUERIA 14TH AVE. 	*
BROADWAY BRETTON INC 	 BROADWAY BRETTON INC. 	*
PR 	 PR
CORE SERVICES GROUP 	 CORE SERVICES GROUP
13220 JAMAICA AVE BLS 	 13220 JAMAICA AVE BLS
PR 	 PR
EATLIKEPAUL LLC 	 EATLIKEPAUL LLC
nan 	 nan 	*
DEVENDRA BALKARRAN 	 DEVENDRA BALKARRAN
FM RING ASSOCIATES INC 	 F.M. RING ASSOCIATES, INC. 	*
PR 	 PR
PR 	 PR
L&L HOLDING COMPANY LLC 	 L&L HOLDING COMPANY LLC
TITANIUM CONSTRUCTION SERVICES 	 TITANIUM CONSTRUCTION SERVICES
COMPREHENSIVE DESIGNS 	 COMPREHENSIVE DESIGNS
4305735833 	 4305735833
ASHLAND BUILDING LLC 	 ASHLAND BUILDING LLC
BEN JOSEF GROUP 	 BEN JOSEF GROUP
PR 	 PR
AT&T 	 AT&T
RUDIN MANAGEMENT CO INC 	 RUDIN MANAGEMENT CO INC
TR DEVELOPMENT 	 TR DEVELOPMENT
nan 	 nan 	*
PR 	 PR
SILVERSTEIN PROPERTIES INC 	 SILVERSTEIN PROPERTIES INC. 	*
PR 	 PR
SDG MANAGEMENT CORP 	 SDG MANAGEMENT CORP
CUSHMAN AND WAKEFIELD 	 CUSHMAN AND WAKEFIELD
NINE-G COOPERATIVE INC 	 NINE-G COOPERATIVE INC
PR 	 PR
EMPIRE STATE BANK 	 EMPIRE STATE BANK
PR 	 PR
27E79 PROPERTY LLC 	 27E79 PROPERTY LLC
PR 	 PR
======================


column:  Approved Date
Original,	 Cleaned

06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
12/14/2020 12:00:00 AM 	 12/14/2020 12:00:00 AM
09/20/2021 12:00:00 AM 	 09/20/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
02/24/2021 12:00:00 AM 	 02/24/2021 12:00:00 AM
05/18/2020 12:00:00 AM 	 05/18/2020 12:00:00 AM
08/10/2020 12:00:00 AM 	 08/10/2020 12:00:00 AM
08/19/2020 12:00:00 AM 	 08/19/2020 12:00:00 AM
08/10/2020 12:00:00 AM 	 08/10/2020 12:00:00 AM
01/07/2020 12:00:00 AM 	 01/07/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/13/2020 12:00:00 AM 	 11/13/2020 12:00:00 AM
10/29/2019 12:00:00 AM 	 10/29/2019 12:00:00 AM
12/04/2020 12:00:00 AM 	 12/04/2020 12:00:00 AM
06/29/2018 12:00:00 AM 	 06/29/2018 12:00:00 AM
03/31/2021 12:00:00 AM 	 03/31/2021 12:00:00 AM
05/05/2021 12:00:00 AM 	 05/05/2021 12:00:00 AM
12/23/2019 12:00:00 AM 	 12/23/2019 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
04/28/2021 12:00:00 AM 	 04/28/2021 12:00:00 AM
02/26/2020 12:00:00 AM 	 02/26/2020 12:00:00 AM
02/18/2021 12:00:00 AM 	 02/18/2021 12:00:00 AM
04/26/2021 12:00:00 AM 	 04/26/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
04/10/2021 12:00:00 AM 	 04/10/2021 12:00:00 AM
11/12/2020 12:00:00 AM 	 11/12/2020 12:00:00 AM
06/03/2021 12:00:00 AM 	 06/03/2021 12:00:00 AM
05/02/2021 12:00:00 AM 	 05/02/2021 12:00:00 AM
01/13/2020 12:00:00 AM 	 01/13/2020 12:00:00 AM
04/30/2020 12:00:00 AM 	 04/30/2020 12:00:00 AM
05/03/2021 12:00:00 AM 	 05/03/2021 12:00:00 AM
04/29/2021 12:00:00 AM 	 04/29/2021 12:00:00 AM
06/09/2021 12:00:00 AM 	 06/09/2021 12:00:00 AM
02/11/2020 12:00:00 AM 	 02/11/2020 12:00:00 AM
08/17/2021 12:00:00 AM 	 08/17/2021 12:00:00 AM
04/16/2021 12:00:00 AM 	 04/16/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/23/2020 12:00:00 AM 	 11/23/2020 12:00:00 AM
06/11/2021 12:00:00 AM 	 06/11/2021 12:00:00 AM
06/17/2021 12:00:00 AM 	 06/17/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
03/06/2020 12:00:00 AM 	 03/06/2020 12:00:00 AM
10/03/2019 12:00:00 AM 	 10/03/2019 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
06/04/2019 12:00:00 AM 	 06/04/2019 12:00:00 AM
09/19/2019 12:00:00 AM 	 09/19/2019 12:00:00 AM
07/25/2021 12:00:00 AM 	 07/25/2021 12:00:00 AM
01/22/2021 12:00:00 AM 	 01/22/2021 12:00:00 AM
04/22/2021 12:00:00 AM 	 04/22/2021 12:00:00 AM
04/02/2020 12:00:00 AM 	 04/02/2020 12:00:00 AM
06/27/2021 12:00:00 AM 	 06/27/2021 12:00:00 AM
10/22/2021 12:00:00 AM 	 10/22/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
07/08/2021 12:00:00 AM 	 07/08/2021 12:00:00 AM
10/28/2020 12:00:00 AM 	 10/28/2020 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
01/03/2019 12:00:00 AM 	 01/03/2019 12:00:00 AM
10/01/2021 12:00:00 AM 	 10/01/2021 12:00:00 AM
09/08/2021 12:00:00 AM 	 09/08/2021 12:00:00 AM
05/25/2018 12:00:00 AM 	 05/25/2018 12:00:00 AM
09/08/2021 12:00:00 AM 	 09/08/2021 12:00:00 AM
10/09/2019 12:00:00 AM 	 10/09/2019 12:00:00 AM
05/04/2021 12:00:00 AM 	 05/04/2021 12:00:00 AM
02/01/2021 12:00:00 AM 	 02/01/2021 12:00:00 AM
09/15/2018 12:00:00 AM 	 09/15/2018 12:00:00 AM
05/03/2021 12:00:00 AM 	 05/03/2021 12:00:00 AM
04/06/2021 12:00:00 AM 	 04/06/2021 12:00:00 AM
04/13/2021 12:00:00 AM 	 04/13/2021 12:00:00 AM
01/07/2020 12:00:00 AM 	 01/07/2020 12:00:00 AM
06/01/2021 12:00:00 AM 	 06/01/2021 12:00:00 AM
05/04/2021 12:00:00 AM 	 05/04/2021 12:00:00 AM
02/15/2021 12:00:00 AM 	 02/15/2021 12:00:00 AM
09/02/2020 12:00:00 AM 	 09/02/2020 12:00:00 AM
03/09/2020 12:00:00 AM 	 03/09/2020 12:00:00 AM
08/04/2020 12:00:00 AM 	 08/04/2020 12:00:00 AM
12/07/2018 12:00:00 AM 	 12/07/2018 12:00:00 AM
03/06/2020 12:00:00 AM 	 03/06/2020 12:00:00 AM
07/07/2021 12:00:00 AM 	 07/07/2021 12:00:00 AM
05/14/2021 12:00:00 AM 	 05/14/2021 12:00:00 AM
10/14/2020 12:00:00 AM 	 10/14/2020 12:00:00 AM
05/06/2020 12:00:00 AM 	 05/06/2020 12:00:00 AM
07/13/2021 12:00:00 AM 	 07/13/2021 12:00:00 AM
10/01/2019 12:00:00 AM 	 10/01/2019 12:00:00 AM
04/06/2021 12:00:00 AM 	 04/06/2021 12:00:00 AM
03/22/2021 12:00:00 AM 	 03/22/2021 12:00:00 AM
03/08/2021 12:00:00 AM 	 03/08/2021 12:00:00 AM
10/21/2020 12:00:00 AM 	 10/21/2020 12:00:00 AM
01/06/2020 12:00:00 AM 	 01/06/2020 12:00:00 AM
05/13/2021 12:00:00 AM 	 05/13/2021 12:00:00 AM
08/17/2021 12:00:00 AM 	 08/17/2021 12:00:00 AM
03/15/2021 12:00:00 AM 	 03/15/2021 12:00:00 AM
07/30/2021 12:00:00 AM 	 07/30/2021 12:00:00 AM
07/02/2020 12:00:00 AM 	 07/02/2020 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
======================


column:  Issued Date
Original,	 Cleaned

06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/04/2021 12:00:00 AM 	 06/04/2021 12:00:00 AM
09/23/2021 12:00:00 AM 	 09/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
01/28/2021 12:00:00 AM 	 01/28/2021 12:00:00 AM
04/04/2021 12:00:00 AM 	 04/04/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/16/2020 12:00:00 AM 	 11/16/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
12/04/2020 12:00:00 AM 	 12/04/2020 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
07/13/2021 12:00:00 AM 	 07/13/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
03/25/2021 12:00:00 AM 	 03/25/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
08/24/2021 12:00:00 AM 	 08/24/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
07/13/2021 12:00:00 AM 	 07/13/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/29/2020 12:00:00 AM 	 05/29/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/07/2021 12:00:00 AM 	 08/07/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/24/2021 12:00:00 AM 	 05/24/2021 12:00:00 AM
06/27/2021 12:00:00 AM 	 06/27/2021 12:00:00 AM
11/05/2021 12:00:00 AM 	 11/05/2021 12:00:00 AM
08/31/2021 12:00:00 AM 	 08/31/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
07/30/2021 12:00:00 AM 	 07/30/2021 12:00:00 AM
11/02/2020 12:00:00 AM 	 11/02/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/22/2021 12:00:00 AM 	 06/22/2021 12:00:00 AM
10/01/2021 12:00:00 AM 	 10/01/2021 12:00:00 AM
10/01/2021 12:00:00 AM 	 10/01/2021 12:00:00 AM
04/16/2021 12:00:00 AM 	 04/16/2021 12:00:00 AM
10/01/2021 12:00:00 AM 	 10/01/2021 12:00:00 AM
11/12/2020 12:00:00 AM 	 11/12/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
09/20/2018 12:00:00 AM 	 09/20/2018 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/31/2020 12:00:00 AM 	 08/31/2020 12:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
03/19/2021 12:00:00 AM 	 03/19/2021 12:00:00 AM
10/01/2021 12:00:00 AM 	 10/01/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/23/2021 12:00:00 AM 	 08/23/2021 12:00:00 AM
10/06/2021 12:00:00 AM 	 10/06/2021 12:00:00 AM
12/21/2020 12:00:00 AM 	 12/21/2020 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
07/22/2021 12:00:00 AM 	 07/22/2021 12:00:00 AM
12/07/2020 12:00:00 AM 	 12/07/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/10/2021 12:00:00 AM 	 08/10/2021 12:00:00 AM
12/16/2020 12:00:00 AM 	 12/16/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
======================


column:  Expired Date
Original,	 Cleaned

06/23/2022 12:00:00 AM 	 06/23/2022 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
07/20/2022 12:00:00 AM 	 07/20/2022 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
03/11/2022 05:00:00 AM 	 03/11/2022 05:00:00 AM
11/01/2021 04:00:00 AM 	 11/01/2021 04:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
04/19/2022 12:00:00 AM 	 04/19/2022 12:00:00 AM
02/25/2021 12:00:00 AM 	 02/25/2021 12:00:00 AM
04/01/2022 04:00:00 AM 	 04/01/2022 04:00:00 AM
08/07/2021 04:00:00 AM 	 08/07/2021 04:00:00 AM
12/26/2021 12:00:00 AM 	 12/26/2021 12:00:00 AM
11/30/2021 12:00:00 AM 	 11/30/2021 12:00:00 AM
05/06/2022 04:00:00 AM 	 05/06/2022 04:00:00 AM
09/15/2021 04:00:00 AM 	 09/15/2021 04:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
12/04/2021 05:00:00 AM 	 12/04/2021 05:00:00 AM
02/22/2022 12:00:00 AM 	 02/22/2022 12:00:00 AM
04/25/2022 12:00:00 AM 	 04/25/2022 12:00:00 AM
06/10/2021 12:00:00 AM 	 06/10/2021 12:00:00 AM
01/10/2022 12:00:00 AM 	 01/10/2022 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
04/16/2022 04:00:00 AM 	 04/16/2022 04:00:00 AM
03/08/2022 12:00:00 AM 	 03/08/2022 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
02/01/2022 12:00:00 AM 	 02/01/2022 12:00:00 AM
02/16/2022 05:00:00 AM 	 02/16/2022 05:00:00 AM
11/01/2021 12:00:00 AM 	 11/01/2021 12:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
06/29/2021 04:00:00 AM 	 06/29/2021 04:00:00 AM
02/10/2022 12:00:00 AM 	 02/10/2022 12:00:00 AM
09/19/2021 04:00:00 AM 	 09/19/2021 04:00:00 AM
01/15/2022 05:00:00 AM 	 01/15/2022 05:00:00 AM
03/02/2022 12:00:00 AM 	 03/02/2022 12:00:00 AM
04/25/2022 12:00:00 AM 	 04/25/2022 12:00:00 AM
02/28/2022 12:00:00 AM 	 02/28/2022 12:00:00 AM
08/16/2022 04:00:00 AM 	 08/16/2022 04:00:00 AM
11/01/2021 04:00:00 AM 	 11/01/2021 04:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
05/10/2021 12:00:00 AM 	 05/10/2021 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
08/16/2021 12:00:00 AM 	 08/16/2021 12:00:00 AM
07/13/2022 04:00:00 AM 	 07/13/2022 04:00:00 AM
01/15/2022 05:00:00 AM 	 01/15/2022 05:00:00 AM
01/14/2022 12:00:00 AM 	 01/14/2022 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
05/07/2021 12:00:00 AM 	 05/07/2021 12:00:00 AM
01/14/2022 12:00:00 AM 	 01/14/2022 12:00:00 AM
05/29/2021 04:00:00 AM 	 05/29/2021 04:00:00 AM
02/06/2022 12:00:00 AM 	 02/06/2022 12:00:00 AM
12/12/2021 05:00:00 AM 	 12/12/2021 05:00:00 AM
02/06/2022 12:00:00 AM 	 02/06/2022 12:00:00 AM
09/27/2021 12:00:00 AM 	 09/27/2021 12:00:00 AM
07/24/2021 04:00:00 AM 	 07/24/2021 04:00:00 AM
06/27/2022 04:00:00 AM 	 06/27/2022 04:00:00 AM
03/27/2022 04:00:00 AM 	 03/27/2022 04:00:00 AM
04/16/2022 04:00:00 AM 	 04/16/2022 04:00:00 AM
01/25/2022 12:00:00 AM 	 01/25/2022 12:00:00 AM
11/01/2021 04:00:00 AM 	 11/01/2021 04:00:00 AM

FIFTH AVENUE 	 FIFTH AVENUE
EAST    5 STREET 	 EAST    5 STREET
CROSBY STREET 	 CROSBY STREET
VERMONT STREET 	 VERMONT STREET
61 STREET 	 61 STREET
EAST   19 STREET 	 EAST   19 STREET
VAN WYCK EXPRESSWAY 	 VAN WYCK EXPRESSWAY
DEVOE STREET 	 DEVOE STREET
METROPOLITAN AVENUE 	 METROPOLITAN AVENUE
WYCKOFF STREET 	 WYCKOFF STREET
WEST  124 STREET 	 WEST  124 STREET
BLEECKER STREET 	 BLEECKER STREET
MOTT STREET 	 MOTT STREET
77 STREET 	 77 STREET
RICHARDSON STREET 	 RICHARDSON STREET
14 AVENUE 	 14 AVENUE
BROADWAY 	 BROADWAY
COLUMBUS AVENUE 	 COLUMBUS AVENUE
LIVONIA AVENUE 	 LIVONIA AVENUE
JAMAICA AVENUE 	 JAMAICA AVENUE
CHERRY AVENUE 	 CHERRY AVENUE
SAND LANE 	 SAND LANE
BOWERY 	 BOWERY
WILLIAMSON AVENUE 	 WILLIAMSON AVENUE
WEST END AVENUE 	 WEST END AVENUE
6 STREET 	 6 STREET
WEST   14 STREET 	 WEST   14 STREET
WEST 23 STREET 	 WEST 23 STREET
BARROW STREET 	 BARROW STREET
64 AVENUE 	 64 AVENUE
ROOSEVELT AVENUE 	 ROOSEVELT AVENUE
MANEE AVENUE 	 MANEE AVENUE
SCHAEFER STREET 	 SCHAEFER STREET
BAILEY AVENUE 	 BAILEY AVENUE
WEST 120 STREET 	 WEST 120 STREET
PARK AVENUE 	 PARK AVENUE
BUSHWICK AVENUE 	 BUSHWICK AVENUE
EAST 11 STREET 	 EAST 11 STREET
RICHMOND TERRACE 	 RICHMOND TERRACE
WALL STREET 	 WALL STREET
AMBOY STREET 	 AMBOY STREET
WEST 137 STREET 	 WEST 137 STREET
ATLANTIC AVENUE 	 ATLANTIC AVENUE
WEST   93 STREET 	 WEST   93 STREET
SURF AVENUE 	 SURF AVENUE
HYLAN BOULEVARD 	 HYLAN BOULEVARD
ST NICHOLAS AVENUE 	 ST NICHOLAS AVENUE
MADISON AVENUE 	 MADISON AVENUE
LEXINGTON AVENUE 	 LEXINGTON AVENUE
======================


column:  Applicant First Name
Original,	 Cleaned

STEVEN 	 STEVEN
MICHAEL 	 MICHAEL
STEVEN 	 STEVEN
CHARLES 	 CHARLES
GERALD 	 GERALD
BERNARD 	 BERNARD
CHRISTOPHER 	 CHRISTOPHER
JOSEPH 	 JOSEPH
ANTONIO 	 ANTONIO
SEAN 	 SEAN
MICHAEL 	 MICHAEL
DOUGLAS 	 DOUGLAS
PETER 	 PETER
EDWARD 	 EDWARD
DOUGLAS 	 DOUGLAS
MICHAEL 	 MICHAEL
EDWARD 	 EDWARD
JATINDER 	 JATINDER
ZHEN AI 	 ZHEN AI
MENDY 	 MENDY
ALAN 	 ALAN
CHRISTOPHER 	 CHRISTOPHER
ARYEH 	 ARYEH
GURCHARAN 	 GURCHARAN
JIM 	 JIM
CHRISTOPHER 	 CHRISTOPHER
EDWARD 	 EDWARD
LAWRENCE 	 LAWRENCE
WILLIAM 	 WILLIAM
JIM 	 JIM
QINGYU 	 QINGYU
RAJA 	 RAJA
LOOMIS 	 LOOMIS
CHUNZHI 	 CHUNZHI
ZHEN AI 	 ZHEN AI
JOHN 	 JOHN
ZACHARIAH 	 ZACHARIAH
PAUL 	 PAUL
ILIRJAN 	 ILIRJAN
JONATHAN 	 JONATHAN
CHRISTOPHER 	 CHRISTOPHER
GARY 	 GARY
SUNGHOON 	 SUNGHOON
LOOMIS 	 LOOMIS
GARY 	 GARY
WILLIAM 	 WILLIAM
MICHAEL 	 MICHAEL
WENDY 	 WENDY
GARY 	 GARY
RAVINDRA 	 RAVINDRA
MOSHE 	 MOSHE
GEORGE 	 GEORGE
MOSHE 	 MOSHE
WESLEY 	 WESLEY
ABRAHAM 	 ABRAHAM
EDWARD 	 EDWARD
BOZENA 	 BOZENA
ARYEH 	 ARYEH
PARAMJIT 	 PARAMJIT
NEPHTALI 	 NEPHTALI
DOUGLAS 	 DOUGLAS
GARY 	 GARY
EDWARD 	 EDWARD
TONY 	 TONY
ROBERT 	 ROBERT
MOHAMMAD 	 MOHAMMAD
WILLIAM 	 WILLIAM
EFRAIN 	 EFRAIN
JOHN 	 JOHN
CURTIS 	 CURTIS
AN 	 AN
YIFANG 	 YIFANG
GARY 	 GARY
CALVIN 	 CALVIN
BASIL 	 BASIL
DANIEL 	 DANIEL
TIMOTHY R. 	 TIMOTHY R.
JOHN 	 JOHN
GREGG 	 GREGG
JOSEPH 	 JOSEPH
SERGIY 	 SERGIY
MANDIP 	 MANDIP
MICHAEL 	 MICHAEL
ARYEH 	 ARYEH
ANDRZEJ 	 ANDRZEJ
NEPHTALI 	 NEPHTALI
JOHN 	 JOHN
ARYEH 	 ARYEH
HELEN 	 HELEN
ABBAS 	 ABBAS
CHRISTOPHER 	 CHRISTOPHER
EFRAIM 	 EFRAIM
CLEBER 	 CLEBER
CHRISTOPHER 	 CHRISTOPHER
JOHN 	 JOHN
DONG WO 	 DONG WO
KEITH 	 KEITH
FELIX 	 FELIX
KUZMA 	 KUZMA
THOMAS 	 THOMAS
======================


column:  Applicant Middle Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
======================


column:  Applicant Last Name
Original,	 Cleaned

WEISS 	 WEISS
PERAS 	 PERAS
WEISS 	 WEISS
TALISSE 	 TALISSE
TALLEY JR. 	 TALLEY JR.
GIARRAPUTO 	 GIARRAPUTO
DOWNES 	 DOWNES
KOS 	 KOS
FERNANDEZ 	 FERNANDEZ
GANN 	 GANN
SPINELLI 	 SPINELLI
WEIDNER 	 WEIDNER
LEOUTSAKOS 	 LEOUTSAKOS
KELLY 	 KELLY
PEDERSON 	 PEDERSON
DIMAGGIO 	 DIMAGGIO
KELLY 	 KELLY
KOMAL 	 KOMAL
HE 	 HE
BRAUN 	 BRAUN
MITCHELL 	 MITCHELL
DOWNES 	 DOWNES
ASSOULINE 	 ASSOULINE
SINGH 	 SINGH
CONWAY 	 CONWAY
LUPINO 	 LUPINO
KELLY 	 KELLY
LEVINE 	 LEVINE
CHIN 	 CHIN
SCULLY 	 SCULLY
LUO 	 LUO
RIZWAN 	 RIZWAN
LINDGREN 	 LINDGREN
ZHANG 	 ZHANG
HE 	 HE
TSAMPAS 	 TSAMPAS
ROCKHILL 	 ROCKHILL
BOEGEMANN 	 BOEGEMANN
RUSI 	 RUSI
BRAGOLI 	 BRAGOLI
DOWNES 	 DOWNES
JACCARINO 	 JACCARINO
JUNG 	 JUNG
LINDGREN 	 LINDGREN
LOMBARDO 	 LOMBARDO
KLEIN 	 KLEIN
DIMAGGIO 	 DIMAGGIO
CHEN 	 CHEN
LOMBARDO 	 LOMBARDO
REDDY 	 REDDY
MANSOUR 	 MANSOUR
STAMBOULIS 	 STAMBOULIS
MANSOUR 	 MANSOUR
LENARD 	 LENARD
CALLER 	 CALLER
KELLY 	 KELLY
POPIJAKOWSKA 	 POPIJAKOWSKA
ASSOULINE 	 ASSOULINE
KAUR 	 KAUR
VARGAS 	 VARGAS
WEIDNER 	 WEIDNER
LOMBARDO 	 LOMBARDO
KELLY 	 KELLY
PACIULLO 	 PACIULLO
ZOLLER 	 ZOLLER
RAHMAN 	 RAHMAN
JIMENEZ 	 JIMENEZ
NIEVES 	 NIEVES
MEENA 	 MEENA
BROWN 	 BROWN
ZHENG 	 ZHENG
CHEN 	 CHEN
LOMBARDO 	 LOMBARDO
WONG 	 WONG
THOMPSON 	 THOMPSON
TOMAI, JR. 	 TOMAI, JR.
WULFING 	 WULFING
BORDONE 	 BORDONE
GENOVESE 	 GENOVESE
SENNA 	 SENNA
MAMUSHKIN 	 MAMUSHKIN
KAUR 	 KAUR
DIMAGGIO 	 DIMAGGIO
ASSOULINE 	 ASSOULINE
CZECHOWSKI 	 CZECHOWSKI
VARGAS 	 VARGAS
MACCARONE 	 MACCARONE
ASSOULINE 	 ASSOULINE
ANDREADIS 	 ANDREADIS
MALIK 	 MALIK
LUPINO 	 LUPINO
KAZTOW 	 KAZTOW
CAMPOVERDE 	 CAMPOVERDE
ASARO 	 ASARO
TSAMPAS 	 TSAMPAS
LIANG 	 LIANG
CUMMINGS 	 CUMMINGS
VASQUEZ 	 VASQUEZ
KUCIC 	 KUCIC
HART 	 HART
======================


column:  Applicant Business Name
Original,	 Cleaned

MANHATTAN D ENTERPRISES 	 MANHATTAN D ENTERPRISES
ULTIMATE SIGNS&DESIGNS CO 	 ULTIMATE SIGNS&DESIGNS CO
MANHATTAN D ENTERPRISES 	 MANHATTAN D ENTERPRISES
CS BRIDGE CORP 	 CS BRIDGE CORP
ALL CITY MECHANICAL INC 	 ALL CITY MECHANICAL INC
L.S. SIGN CO., INC 	 L.S. SIGN CO., INC
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
UNIPIPE PLBG&HTG CORP 	 UNIPIPE PLBG&HTG CORP
FERNANDEZ HTG & MECH CORP 	 FERNANDEZ HTG & MECH CORP
7376 CONSTRUCTION LLC 	 7376 CONSTRUCTION LLC
VMC PLUMBING & HEATING IN 	 VMC PLUMBING & HEATING IN
TRI STATE PLBG & HTG INC 	 TRI STATE PLBG & HTG INC
PEAK FIRE PROTECTION LLC 	 PEAK FIRE PROTECTION LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
V & M DRAIN CLEANING INC 	 V & M DRAIN CLEANING INC
K.M.D. MCHNCL 1443 LLC 	 K.M.D. MCHNCL 1443 LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
J.S.K. CONSTRUCTION CORP 	 J.S.K. CONSTRUCTION CORP
HIGH QUALITY CONSTRUCTION 	 HIGH QUALITY CONSTRUCTION
BRAUN MANAGEMENT INC 	 BRAUN MANAGEMENT INC
A. M. PLUMBING COMPANY 	 A. M. PLUMBING COMPANY
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
IMPACT BUILDERS CORP 	 IMPACT BUILDERS CORP
LAKHI GENERAL CONTRACTOR 	 LAKHI GENERAL CONTRACTOR
AMBASSADOR CONSTRUCTION C 	 AMBASSADOR CONSTRUCTION C
AGGRESSIVE FIRE PROT LLC 	 AGGRESSIVE FIRE PROT LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
PAR PLUMBING CO., INC 	 PAR PLUMBING CO., INC
GOOD-WILL MECHANICAL CORP 	 GOOD-WILL MECHANICAL CORP
SCULLY CONSTRUCTION LLC 	 SCULLY CONSTRUCTION LLC
FLUSHING ONE CONSTRUCTION 	 FLUSHING ONE CONSTRUCTION
NEW CITY BRIDGING CORP 	 NEW CITY BRIDGING CORP
LAWRENCE EXTERIOR RESTORA 	 LAWRENCE EXTERIOR RESTORA
SPLEN CONSTRUCTION INC 	 SPLEN CONSTRUCTION INC
HIGH QUALITY CONSTRUCTION 	 HIGH QUALITY CONSTRUCTION
SKYLINE RESTORATION INC 	 SKYLINE RESTORATION INC
HATCHET WORKS CORP 	 HATCHET WORKS CORP
PAUL SIGNS, INC 	 PAUL SIGNS, INC
BENJAMIN GROUP ENTERPRIS 	 BENJAMIN GROUP ENTERPRIS
NATIONAL MAINTENANCE, INC 	 NATIONAL MAINTENANCE, INC
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
QBK PLUMBING & HTNG INC 	 QBK PLUMBING & HTNG INC
URBAN GC INC 	 URBAN GC INC
LAWRENCE EXTERIOR RESTORA 	 LAWRENCE EXTERIOR RESTORA
PIPING & PLUMBING SOLUTIO 	 PIPING & PLUMBING SOLUTIO
THE FRANKLIN COMANY CONT* 	 THE FRANKLIN COMANY CONT*
K.M.D. MCHNCL 1443 LLC 	 K.M.D. MCHNCL 1443 LLC
LOXTON INC 	 LOXTON INC
PIPING & PLUMBING SOLUTIO 	 PIPING & PLUMBING SOLUTIO
CITI STRUCTURE LLC 	 CITI STRUCTURE LLC
BUILDERS JOSEPH AND SONS 	 BUILDERS JOSEPH AND SONS
BOULIS CONSTRUCTION CORP 	 BOULIS CONSTRUCTION CORP
BUILDERS JOSEPH AND SONS 	 BUILDERS JOSEPH AND SONS
TRIBUTE RESTORATION INC 	 TRIBUTE RESTORATION INC
MARCAL CONTRACTING CO LLC 	 MARCAL CONTRACTING CO LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
EURO ART CONSTRUCTION COR 	 EURO ART CONSTRUCTION COR
IMPACT BUILDERS CORP 	 IMPACT BUILDERS CORP
PARSONS CONSTRUCTION INC 	 PARSONS CONSTRUCTION INC
OVERLAND CONTRACTING INC 	 OVERLAND CONTRACTING INC
DW PLUMBING INC 	 DW PLUMBING INC
PIPING & PLUMBING SOLUTIO 	 PIPING & PLUMBING SOLUTIO
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
UPTOWN CONSTRUCTION GROUP 	 UPTOWN CONSTRUCTION GROUP
JAYEFF CONSTRUCTION CORP 	 JAYEFF CONSTRUCTION CORP
HYPER STRUCTURE CORP 	 HYPER STRUCTURE CORP
DONE RIGHT KITCHEN EXHAUS 	 DONE RIGHT KITCHEN EXHAUS
EL-ROC CONTRACTING OF BK 	 EL-ROC CONTRACTING OF BK
HUDSON BLACK INC 	 HUDSON BLACK INC
CORE FACILITIES MGMT LLC 	 CORE FACILITIES MGMT LLC
COS CONSTRUCTION INC 	 COS CONSTRUCTION INC
CK COOLING & HEATING INC 	 CK COOLING & HEATING INC
EMPIRE PLUMBING INC 	 EMPIRE PLUMBING INC
A.A. MECHANICAL SOL INC 	 A.A. MECHANICAL SOL INC
KISHAN PLBG & HEATING INC 	 KISHAN PLBG & HEATING INC
SIGNATURE CONSTRUCTION GR 	 SIGNATURE CONSTRUCTION GR
WULFING CONSTRUCTION LLC 	 WULFING CONSTRUCTION LLC
WCD SERVICES CORP 	 WCD SERVICES CORP
RIDGE CONSTRUCTION CORP 	 RIDGE CONSTRUCTION CORP
TITANIUM CONSTRUCTION SER 	 TITANIUM CONSTRUCTION SER
GW MECHANICAL CORP 	 GW MECHANICAL CORP
PLATINUM SERVICES NY LLC 	 PLATINUM SERVICES NY LLC
K.M.D. MCHNCL 1443 LLC 	 K.M.D. MCHNCL 1443 LLC
IMPACT BUILDERS CORP 	 IMPACT BUILDERS CORP
AJC PLUMBING & HTG CORP 	 AJC PLUMBING & HTG CORP
OVERLAND CONTRACTING INC 	 OVERLAND CONTRACTING INC
MACCARONE PLUMBING INC 	 MACCARONE PLUMBING INC
IMPACT BUILDERS CORP 	 IMPACT BUILDERS CORP
MASTERPIECE S.A. CORP 	 MASTERPIECE S.A. CORP
K.E.S CONSTRUCTION CO INC 	 K.E.S CONSTRUCTION CO INC
AGGRESSIVE FIRE PROT LLC 	 AGGRESSIVE FIRE PROT LLC
KEY PLBNG & HTG SOL CORP 	 KEY PLBNG & HTG SOL CORP
PEAK PLUMBING SOLUTIONS L 	 PEAK PLUMBING SOLUTIONS L
HOLT CONSTRUCTION CORP 	 HOLT CONSTRUCTION CORP
SKYLINE RESTORATION INC 	 SKYLINE RESTORATION INC
CUBE BUILDERS GROUP NY 	 CUBE BUILDERS GROUP NY
KCM PLUMBING & HEATING CO 	 KCM PLUMBING & HEATING CO
NOVA VASQUEZ & ASSOCIATES 	 NOVA VASQUEZ & ASSOCIATES
JULIAN SPRINKLER CORP 	 JULIAN SPRINKLER CORP
DART RESTORATION CORP 	 DART RESTORATION CORP
======================


column:  Applicant Business Address
Original,	 Cleaned

111-07 101ST AVENUE 	 111-07 101ST AVENUE
13709 EASTGATE PLAZA 	 13709 EASTGATE PLAZA
111-07 101ST AVENUE 	 111-07 101ST AVENUE
1470 BRUCKNER BLVD 	 1470 BRUCKNER BLVD
521 BROOKLYN AVENUE 	 521 BROOKLYN AVENUE
16-40 CENTRE STREET 	 16-40 CENTRE STREET
1150 LONGWOOD AVE 	 1150 LONGWOOD AVE
37 CUMBERLAND STREET 	 37 CUMBERLAND STREET
241-15 BRADDOCK AVENUE 	 241-15 BRADDOCK AVENUE
200 BUSINESS PARK DR STE 203 	 200 BUSINESS PARK DR STE 203
838 BAY STREET 	 838 BAY STREET
33-70 PRINCE STREET, SUITE 706 	 33-70 PRINCE STREET, SUITE 706
191 DUPONT STREET 	 191 DUPONT STREET
3969 MERRITT AVE 	 3969 MERRITT AVE
422 CASTLETON AVENUE 	 422 CASTLETON AVENUE
105 STUYVESANT PL 	 105 STUYVESANT PL
3969 MERRITT AVE 	 3969 MERRITT AVE
430 MERRICK ROAD SUITE #5 	 430 MERRICK ROAD SUITE #5
7218 16TH AVENUE 	 7218 16TH AVENUE
160 BROADWAY 	 160 BROADWAY
4040 HYLAN BLVD 	 4040 HYLAN BLVD
1150 LONGWOOD AVE 	 1150 LONGWOOD AVE
10206 METROPOLITAN AVE STORE #2 	 10206 METROPOLITAN AVE STORE #2
15410 ROCKAWAY BLVD 	 15410 ROCKAWAY BLVD
105 MADISON AVENUE 	 105 MADISON AVENUE
45 WEST 25TH STREET 	 45 WEST 25TH STREET
3969 MERRITT AVE 	 3969 MERRITT AVE
101 PARK AVENUE LOWER LOBBY 	 101 PARK AVENUE LOWER LOBBY
1000 GRAND ST 	 1000 GRAND ST
141 LAFAYETTE AVENUE 	 141 LAFAYETTE AVENUE
37-12 PRINCE ST, STE 8C 	 37-12 PRINCE ST, STE 8C
2915 THROOP AVE 	 2915 THROOP AVE
150-44 11TH AVENUE 	 150-44 11TH AVENUE
29 FIELDSTONE DRIVE 	 29 FIELDSTONE DRIVE
7218 16TH AVENUE 	 7218 16TH AVENUE
49-28 31ST PLACE 	 49-28 31ST PLACE
628 GRAND AVE 	 628 GRAND AVE
654 4TH AVENUE 	 654 4TH AVENUE
104 22ND STEET 	 104 22ND STEET
23-41 BORDEN AVENUE 	 23-41 BORDEN AVENUE
1150 LONGWOOD AVE 	 1150 LONGWOOD AVE
92-14 LIBERTY AVENUE 	 92-14 LIBERTY AVENUE
150-15 41ST AVE APT 3C 	 150-15 41ST AVE APT 3C
150-44 11TH AVENUE 	 150-44 11TH AVENUE
4601C 1ST AVENUE#C 	 4601C 1ST AVENUE#C
22-44 119TH STREET 	 22-44 119TH STREET
105 STUYVESANT PL 	 105 STUYVESANT PL
136-31 41ST AVENUE SUITE 2A 	 136-31 41ST AVENUE SUITE 2A
4601C 1ST AVENUE#C 	 4601C 1ST AVENUE#C
44 HUDSON PLACE 2ND FLOOR 	 44 HUDSON PLACE 2ND FLOOR
1222 AVENUE M SUITE 505 	 1222 AVENUE M SUITE 505
40-43 100TH STREET, SUITE1 	 40-43 100TH STREET, SUITE1
1222 AVENUE M SUITE 505 	 1222 AVENUE M SUITE 505
231 NORMAN STREET#206 	 231 NORMAN STREET#206
2361 NOSTRAND AVENUE SUITE 901 	 2361 NOSTRAND AVENUE SUITE 901
3969 MERRITT AVE 	 3969 MERRITT AVE
71 WOLCOTT RD 2ND FL 	 71 WOLCOTT RD 2ND FL
10206 METROPOLITAN AVE STORE #2 	 10206 METROPOLITAN AVE STORE #2
179-36 HILLSIDE AVE 	 179-36 HILLSIDE AVE
600 NORTH GREENFIELD PARKWAY 	 600 NORTH GREENFIELD PARKWAY
33-70 PRINCE STREET, SUITE 706 	 33-70 PRINCE STREET, SUITE 706
4601C 1ST AVENUE#C 	 4601C 1ST AVENUE#C
3969 MERRITT AVE 	 3969 MERRITT AVE
268 S HARRISON AVE 	 268 S HARRISON AVE
1800 ROUTE 34 SUITE 403 	 1800 ROUTE 34 SUITE 403
1562 PACIFIC STREET 	 1562 PACIFIC STREET
107-63 121 STREET 	 107-63 121 STREET
140 18TH STREET 	 140 18TH STREET
270 SPARTA AVE.STE 104 	 270 SPARTA AVE.STE 104
45 MAIN STREET STE 711 	 45 MAIN STREET STE 711
39-15 MAIN STREET, STE #308 	 39-15 MAIN STREET, STE #308
25417 38TH AVENUE 	 25417 38TH AVENUE
4601C 1ST AVENUE 	 4601C 1ST AVENUE
168 COOK STREET 	 168 COOK STREET
112-15 FRANCIS LEWIS BLVD 	 112-15 FRANCIS LEWIS BLVD
160 7TH STREET 	 160 7TH STREET
1B CARROLL STREET 	 1B CARROLL STREET
58-60 57TH STREET 	 58-60 57TH STREET
280 TOWNE CENTER DRIVE, BLDG1 	 280 TOWNE CENTER DRIVE, BLDG1
247 W 30TH STREET FL 11 	 247 W 30TH STREET FL 11
854 HUMBOLDT STREET 	 854 HUMBOLDT STREET
53-28 11TH STREET 2ND FL 	 53-28 11TH STREET 2ND FL
105 STUYVESANT PL 	 105 STUYVESANT PL
10206 METROPOLITAN AVE STORE #2 	 10206 METROPOLITAN AVE STORE #2
37-28 61ST STREET 	 37-28 61ST STREET
600 NORTH GREENFIELD PARKWAY 	 600 NORTH GREENFIELD PARKWAY
199-02 32ND AVENUE 	 199-02 32ND AVENUE
10206 METROPOLITAN AVE STORE #2 	 10206 METROPOLITAN AVE STORE #2
18-57 41 ST 	 18-57 41 ST
15 SWAN STREET 	 15 SWAN STREET
45 WEST 25TH STREET 	 45 WEST 25TH STREET
252 JAVA STREET, SUITE 308 B 	 252 JAVA STREET, SUITE 308 B
191 DUPONT STREET 	 191 DUPONT STREET
50 EAST WASHINGTON AVENUE 	 50 EAST WASHINGTON AVENUE
49-28 31ST PLACE 	 49-28 31ST PLACE
217 BAY 28TH ST 	 217 BAY 28TH ST
198 PULASKI AVENUE 	 198 PULASKI AVENUE
414 PALISADE AVENUE 	 414 PALISADE AVENUE
1324 HERSCHELL STREET 	 1324 HERSCHELL STREET
365 SOUTH MAIN STREET 	 365 SOUTH MAIN STREET
======================

In [239]:
tp = 119
fp = 3

fn = 25
tn = 1500 - 119 - 3 - 25

In [240]:
precision(tp, fp)

0.9754098360655737

In [241]:
recall(tp,fn)

0.8263888888888888